.prv-card-carousel2-tpl {
    &.prv-style-2 {
        .container{
            @media (min-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
                .prv-subtitle:nth-of-type(2) {
                    order: 3;
                }
            }                    
        }

        .swiper-wrapper{
            @media (min-width: 1024px) {
                flex-wrap: wrap;
                gap: 40px;
                justify-content: center;   
            }
            .swiper-slide{
                @media (min-width: 1024px) {
                    width: 100% !important;
                    margin: 0 !important;
                }
            }   
        } 
    }
}