.pvr__offices{
    .container{
        @media (min-width: 1200px) {
            max-width: 804px;
        }
    }
    .title{
        font-size: 20px;
        font-weight: 700;
        line-height: 29px;
        text-align: left;
        color: var(--color-green-700);
        margin-bottom: 8px;
        @media (min-width: 768px){
            font-size: 24px;
        }
    }
    .text{
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: var(--color-gray-500);
        &:last-of-type{
            margin-bottom: 0;
        }
        @media (min-width: 768px){
            font-size: 18px;
            line-height: 24px;
        }
    }
    .form{
        @media (min-width: 768px){
            margin-bottom: 12px;
        }
        &__fieldset{
            padding: 0;
            margin: 16px 0 0;
            border: 0;
            @media (min-width: 768px){
                margin: 28px 0 0;
            }
        }
        &__legend{
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            text-align: left;
            padding: 0;
            color: var(--color-green-700);
            margin-bottom: 8px;
            @media (min-width: 768px){
                font-size: 18px;
                margin-bottom: 16px;
            }
        }
    }
    .results{
        height: 509px;
        padding: 0 0 50px;
        @media (min-width: 992px){
            padding: 0 20px 50px;
            height: 532px;
        }
        .title--result{
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            text-align: left;
            color: var(--color-green-700);
            padding: 8px 0;
        }
        .result__swiper{
            max-width: 575px;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .result__row{        
            .result__box{
                width: 100%;
                border-bottom: 0.5px solid #ABABAB
            }    
            .result__column{
                height: calc((100% - 50px) / 2) !important;
                display: flex;
                justify-content: center;
                align-items: center;
                .content{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 16px;
                    @media (min-width: 768px){
                        margin-top: 24px;
                    }
                    .icon{
                        width: 32px;
                        margin-right: 24px;
                        color: #fff;
                        svg{
                            font-size: 32px;
                        }
                    }
                    .name{
                        font-size: 20px;
                        line-height: 25px;
                        font-weight: 700;
                        text-align: left;
                        color: var(--color-gray-600);
                        margin-bottom: 8px;
                        display: block;
                        @media (min-width: 768px){
                            font-size: 24px;
                            line-height: 29px;
                        }
                    }
                    .address{
                        display: block;
                        font-size: 14px;
                        font-weight: 700;
                        margin-bottom: 8px;
                        @media (min-width: 768px){
                            font-size: 16px;
                        }
                    }
                }
                .footer{
                    margin: 14px 0 16px;
                    text-align: right;
                    @media (min-width: 768px){
                        margin: 14px 0 24px;
                    }
                    .link{
                        padding: 8px 0;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 24px;
                        display: inline-block;
                        text-decoration: underline;
                    }
                }
            }
        }
        .swiper-custom-navigation {
            margin-top: 24px;
            position: absolute;
            width: 100%;
            bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .swiper-button-prev, .swiper-rtl .swiper-button-next{
                left: 0;
                width: 36px;
                height: 36px;
                margin: 0;
                color: var(--color-gray-600);
                outline: none;
            }
            .swiper-button-next, .swiper-rtl .swiper-button-prev{
                right: 0;
                width: 36px;
                height: 36px;
                margin: 0;
                color: var(--color-gray-600);
                outline: none;
            }
            .swiper-button-next, .swiper-button-prev{
                position: relative;
            }
        }
        .swiper-pagination{
            width: auto;
            position: relative;
            bottom: 0;            
        }
        .swiper-pagination-bullet{
            width: 36px;
            height: 36px;
            font-size: 14px;
            line-height: 36px;
            font-weight: 700;
            background: var(--color-white);
            color: var(--color-gray-500);
            opacity: 1;
            outline: none;
        }
        .swiper-pagination-bullet-active{
            background: var(--color-orange-300);
            color: var(--color-white);
        }
        .swiper-button-prev, .swiper-button-next{
            svg{
                width: 8px;
                font-weight: 700;
            }
            &:after{
                display: none;
            }
        }
    }
}