.newFontSize{
    &__100 {
        .alertCard {
            .alertCard-body{
                .alertCard-body__txt{
                    .txt-tit{
                        font-size: 20px;
                        @media (min-width: 1023px) {
                            font-size: 24px;
                        }
                    }
                    .txt-des{
                        font-size: 16px;
                        @media (min-width: 1023px) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    &__110 {
        .alertCard {
            .alertCard-body{
                .alertCard-body__txt{
                    .txt-tit{
                        font-size: 21px;
                        @media (min-width: 1023px) {
                            font-size: 25px;
                        }
                    }
                    .txt-des{
                        font-size: 17px;
                        @media (min-width: 1023px) {
                            font-size: 19px;
                        }
                    }
                }
            }
        }
    }
    &__120 {
        .alertCard {
            .alertCard-body{
                .alertCard-body__txt{
                    .txt-tit{
                        font-size: 22px;
                        @media (min-width: 1023px) {
                            font-size: 26px;
                        }
                    }
                    .txt-des{
                        font-size: 18px;
                        @media (min-width: 1023px) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    &__130 {
        .alertCard {
            .alertCard-body{
                .alertCard-body__txt{
                    .txt-tit{
                        font-size: 23px;
                        @media (min-width: 1023px) {
                            font-size: 27px;
                        }
                    }
                    .txt-des{
                        font-size: 19px;
                        @media (min-width: 1023px) {
                            font-size: 21px;
                        }
                    }
                }
            }
        }
    }
    &__140 {
        .alertCard {
            .alertCard-body{
                .alertCard-body__txt{
                    .txt-tit{
                        font-size: 24px;
                        @media (min-width: 1023px) {
                            font-size: 28px;
                        }
                    }
                    .txt-des{
                        font-size: 20px;
                        @media (min-width: 1023px) {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}

.altoContrasGeneral{
    .alertCard {
        .alertCard-body{
            background-color:var(--color-green-accesibility-50);            
        }
    }
}

.alertCard {
    .alertCard-body{
        display:flex;
        background-color:#FEF4DC;
        padding: 12px;
        border-radius: 8px;
        .alertCard-body__txt{
            padding:0 8px;
            width: 100%;
            .txt-tit{
                font-size: 20px;
                font-weight: 600;
                line-height: 25.44px;
                font-family: var(--fontBanda);
                margin-bottom: 8px;
                @media (min-width: 1023px) {
                    font-size: 24px;
                    line-height: 29.28px;
                    font-weight: 700;
                }
            }
            .txt-des{
                font-size: 16px;
                font-weight: 400;
                line-height: 21.82px;
                margin-bottom: 0px;
                @media (min-width: 1023px) {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
        .alertCard-body__btnClose{
            width: 24px;
            height: 24px;
            cursor: pointer;
            background: 0;
            border: 0;
            font-size: 24px;
            margin: 0;
            padding: 0;
            line-height: normal;
            display: flex;
            align-items: center;
            justify-content: center;
          
        }
    }
    .alertCard-icon{
        width:20px;
        height:20px;
    }
}