.newFontSize{
    &__100 {
        .pvr__section-search{
            .title{
                font-size: 20px;
                @media (min-width:992px) {
                    font-size: 24px;
                }
            }
        }
    }
    &__110 {
        .pvr__section-search{
            .title{
                font-size: 21px;
                @media (min-width:992px) {
                    font-size: 22px;
                }
            }
        }
    }
    &__120 {
        .pvr__section-search{
            .title{
                font-size: 22px;
                @media (min-width:992px) {
                    font-size: 23px;
                }
            }
        }
    }
    &__130 {
        .pvr__section-search{
            .title{
                font-size: 23px;
                @media (min-width:992px) {
                    font-size: 24px;
                }
            }
        }
    }
    &__140 {
        .pvr__section-search{
            .title{
                font-size: 24px;
                @media (min-width:992px) {
                    font-size: 25px;
                }
            }
        }
    }
}

.pvr__section-search{
    .title{
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 24px;
        text-align: center;
        @media (min-width:992px) {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 36px;
        }
    }
    .pvr__search .close__btn{
        display: none;
    }
}
