h2(style="font-size:18px;margin:0;padding:10px 15px;border-top: 1px solid #000;border-bottom: 1px solid #000;background:#000;color:#fff") Variente 01
.container
    h2.prv-title.prv-txt-green-700.prv-txt-center ¿Ya disfrutas de tus beneficios en Porvenir?
    .prv-card.prv-card--center.prv-style-3
        picture.prv-card__image
            source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
            img(src="images/cards/icono-discount-1.png", alt="")
            
        .prv-card__body
            h3.card__title.title__ellipsis.prv-txt-green-700 Descuentos exclusivos
            .card__description
                p Con Porvenir disfruta de descuentos con más de 200 comercios a nivel nacional.
            .card__button
                a.prv-btn.prv-btn--link(href="#") Conoce más 
    .prv-card.prv-card--center.prv-style-3
        picture.prv-card__image
            source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
            img(src="images/cards/icono-discount-1.png", alt="")
            
        .prv-card__body
            h3.card__title.title__ellipsis.prv-txt-green-700 Menor tasa de crédito de vivienda
            .card__description
                p Tienes -20 puntos básicos en la tasa de interés con el Banco Popular.
            .card__button
                a.prv-btn.prv-btn--link(href="#") Conoce más 