h2(style="font-size:18px;margin:0;padding:10px 15px;border-top: 1px solid #000;border-bottom: 1px solid #000;background:#000;color:#fff") Variente 01
.prv-bg-white.prv-sp-d24-m16
    .container
        h2.prv-title.prv-txt-green-700.prv-txt-center ¿Ya disfrutas de tus beneficios en Porvenir?
        .cards-swiper-01
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-3
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Descuentos exclusivos
                                .card__description
                                    p Con Porvenir disfruta de descuentos con más de 200 comercios a nivel nacional.
                                .card__button
                                    a.prv-btn.prv-btn--link(href="#") Conoce más 
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-3
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Menor tasa de crédito de vivienda
                                .card__description
                                    p Tienes -20 puntos básicos en la tasa de interés con el Banco Popular.
                                .card__button
                                    a.prv-btn.prv-btn--link(href="#") Conoce más 
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-3
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Menor tasa de crédito de vivienda
                                .card__description
                                    p Tienes -20 puntos básicos en la tasa de interés con el Banco Popular.
                                .card__button
                                    a.prv-btn.prv-btn--link(href="#") Conoce más 

                .prv-slider-controls
                    .prv-slider-btn.swiper-button-prev
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                        </svg>
                    .swiper-pagination
                    .prv-slider-btn.swiper-button-next
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                        </svg>

h2(style="font-size:18px;margin:0;padding:10px 15px;border-top: 1px solid #000;border-bottom: 1px solid #000;background:#000;color:#fff") Variente 05

.prv-card-carousel-tpl.prv-style-1.prv-bg-white.prv-sp-d24-m16
    .container
        h2.prv-title.prv-txt-green-700 Servicios en línea
        .card-carousel-row
            .card-carousel-col
                .prv-card.prv-card--green-600.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                        img(src="images/cards/icon-documento-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--green-600.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                        img(src="images/cards/icon-documento-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--green-600.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                        img(src="images/cards/icon-documento-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--green-600.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                        img(src="images/cards/icon-documento-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--green-600.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                        img(src="images/cards/icon-documento-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación

.prv-card-carousel-tpl.prv-style-1.prv-bg-white.prv-sp-d24-m16
    .container
        h2.prv-title.prv-txt-orange-300 Servicios en línea
        .card-carousel-row
            .card-carousel-col
                .prv-card.prv-card--yellow.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icono-monedas-1.png")
                        img(src="images/cards/icono-monedas-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--yellow.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icono-monedas-1.png")
                        img(src="images/cards/icono-monedas-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--yellow.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icono-monedas-1.png")
                        img(src="images/cards/icono-monedas-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--yellow.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icono-monedas-1.png")
                        img(src="images/cards/icono-monedas-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--yellow.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icono-monedas-1.png")
                        img(src="images/cards/icono-monedas-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación

.prv-card-carousel-tpl.prv-style-1.prv-bg-white.prv-sp-d24-m16
    .container
        h2.prv-title.prv-txt-green-700 Servicios en línea
        .cards-swiper-05   
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .prv-card.prv-card--green-600.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--green-600.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--green-600.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--green-600.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--green-600.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                
                .prv-slider-controls
                    .prv-slider-btn.swiper-button-prev
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                        </svg>
                    .swiper-pagination
                    .prv-slider-btn.swiper-button-next
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                        </svg>

.prv-card-carousel-tpl.prv-style-1.prv-bg-white.prv-sp-d24-m16
    .container
        h2.prv-title.prv-txt-orange-300 Servicios en línea
        .cards-swiper-05   
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .prv-card.prv-card--yellow.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--yellow.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--yellow.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--yellow.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--yellow.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                
                .prv-slider-controls
                    .prv-slider-btn.swiper-button-prev
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                        </svg>
                    .swiper-pagination
                    .prv-slider-btn.swiper-button-next
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                        </svg>
