h2(style="font-size:18px;margin:0;padding:10px 15px;border-top: 1px solid #000;border-bottom: 1px solid #000;background:#000;color:#fff") Variente 01
.prv-card-carousel-tpl.prv-style-3.prv-bg-white.prv-sp-d24-m16
    .container
        h2.prv-title.prv-txt-green-700 ¿Ya disfrutas de tus beneficios en Porvenir?
        .cards-swiper-01#cardSwiper01(data-slide-xs="1", data-slide-sm="1", data-slide-md="2", data-slide-lg="3")
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-3
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Descuentos exclusivos
                                .card__description
                                    p Con Porvenir disfruta de descuentos con más de 200 comercios a nivel nacional.
                                .card__button
                                    a.prv-btn.prv-btn-outline--orange.prv-btn--round-corner(href="#") Conoce más 
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-3
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Menor tasa de crédito de vivienda
                                .card__description
                                    p Tienes -20 puntos básicos en la tasa de interés con el Banco Popular.
                                .card__button
                                    a.prv-btn.prv-btn--link(href="#") Conoce más 
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-3
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Menor tasa de crédito de vivienda
                                .card__description
                                    p Tienes -20 puntos básicos en la tasa de interés con el Banco Popular.
                                .card__button
                                    a.prv-btn.prv-btn--link(href="#") Conoce más 

                .prv-slider-controls
                    .prv-slider-btn.swiper-button-prev
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                        </svg>
                    .swiper-pagination
                    .prv-slider-btn.swiper-button-next
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                        </svg>

.prv-card-carousel-tpl.prv-style-3.prv-bg-white.prv-sp-d24-m16
    .container
        h2.prv-title.prv-txt-green-700 ¿Ya disfrutas de tus beneficios en Porvenir?
        .cards-swiper-01#cardSwiper011(data-slide-xs="1", data-slide-sm="1", data-slide-md="2", data-slide-lg="2")
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-3
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Descuentos exclusivos
                                .card__description
                                    p Con Porvenir disfruta de descuentos con más de 200 comercios a nivel nacional.
                                .card__button
                                    a.prv-btn.prv-btn--link(href="#") Conoce más 
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-3
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Menor tasa de crédito de vivienda
                                .card__description
                                    p Tienes -20 puntos básicos en la tasa de interés con el Banco Popular.
                                .card__button
                                    a.prv-btn.prv-btn--link(href="#") Conoce más 
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-3
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Menor tasa de crédito de vivienda
                                .card__description
                                    p Tienes -20 puntos básicos en la tasa de interés con el Banco Popular.
                                .card__button
                                    a.prv-btn.prv-btn--link(href="#") Conoce más 

                .prv-slider-controls
                    .prv-slider-btn.swiper-button-prev
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                        </svg>
                    .swiper-pagination
                    .prv-slider-btn.swiper-button-next
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                        </svg>

h2(style="font-size:18px;margin:0;padding:10px 15px;border-top: 1px solid #000;border-bottom: 1px solid #000;background:#000;color:#fff") Variente 02
.prv-card-carousel-tpl.prv-bg-white.prv-sp-d24-m16
    .container
        .prv-title-content
            h2.prv-title.prv-txt-green-700 ¿Todavía tienes preguntas?¿Todavía tienes preguntas?
            .prv-subtitle
                p Déjanos saber cuál es la solicitud para ayudarte por el canal electrónico adecuado.Déjanos saber cuál es la solicitud para ayudarte por el canal electrónico adecuado.
        .cards-swiper-01#cardSwiper01(data-slide-xs="1", data-slide-sm="1", data-slide-md="2", data-slide-lg="3")
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-10
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Descuentos exclusivos
                                .card__description
                                    p Accede a nuestro servicio WhatsApp Porvenir, con solo enviarnos un "Hola" tendrás a tu alcance respuestas y orientación sobre tus solicitudes y peticiones.
                                .card__button
                                    a.prv-btn.prv-btn--orange.prv-btn--round-corner(href="#") Ingresa al canal 
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-10
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Audio Respuesta
                                .card__description
                                    p Conoce todas las líneas y canales de atención a nuestros afiliados por los cuales, según el producto que tengas activo con Porvenir, puedes ponerte en contacto.
                                .card__button
                                    a.prv-btn.prv-btn--link(href="#") Ingresa al canal 
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-10
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Nuestras oficinas
                                .card__description
                                    p Contamos con 53 oficinas a nivel nacional en donde encontrarás a los mejores asesores, quienes estarán dispuestos a ayudarte con todos los trámites relacionados a tus productos.
                                .card__button
                                    a.prv-btn.prv-btn--link(href="#") Ingresa al canal 

                .prv-slider-controls
                    .prv-slider-btn.swiper-button-prev
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                        </svg>
                    .swiper-pagination
                    .prv-slider-btn.swiper-button-next
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                        </svg>


h2(style="font-size:18px;margin:0;padding:10px 15px;border-top: 1px solid #000;border-bottom: 1px solid #000;background:#000;color:#fff") Variente 05

.prv-card-carousel-tpl.prv-style-1.prv-bg-white.prv-sp-d24-m16
    .container
        h2.prv-title.prv-txt-green-700 Servicios en línea
        .card-carousel-row
            .card-carousel-col
                .prv-card.prv-card--green-600.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                        img(src="images/cards/icon-documento-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis 
                            a(href="#") Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--green-600.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                        img(src="images/cards/icon-documento-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis 
                            a(href="#") Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--green-600.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                        img(src="images/cards/icon-documento-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis 
                            a(href="#") Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--green-600.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                        img(src="images/cards/icon-documento-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis 
                            a(href="#") Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--green-600.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                        img(src="images/cards/icon-documento-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis 
                            a(href="#") Descargar mi certificado de afiliación

.prv-card-carousel-tpl.prv-style-1.prv-bg-white.prv-sp-d24-m16
    .container
        h2.prv-title.prv-txt-orange-300 Servicios en línea
        .card-carousel-row
            .card-carousel-col
                .prv-card.prv-card--yellow.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icono-monedas-1.png")
                        img(src="images/cards/icono-monedas-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--yellow.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icono-monedas-1.png")
                        img(src="images/cards/icono-monedas-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--yellow.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icono-monedas-1.png")
                        img(src="images/cards/icono-monedas-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--yellow.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icono-monedas-1.png")
                        img(src="images/cards/icono-monedas-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación
            .card-carousel-col
                .prv-card.prv-card--yellow.prv-style-6
                    picture.prv-card__image
                        source(media="(min-width: 1024px)" srcset="images/cards/icono-monedas-1.png")
                        img(src="images/cards/icono-monedas-1.png", alt="")
                    .prv-card__body
                        h3.card__title.title__ellipsis Descargar mi certificado de afiliación

.prv-card-carousel-tpl.prv-style-1.prv-bg-white.prv-sp-d24-m16
    .container
        h2.prv-title.prv-txt-green-700 Servicios en línea
        .cards-swiper-05#cardSwiper05(data-slide-xs="3", data-slide-sm="1", data-slide-md="2", data-slide-lg="5")
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .prv-card.prv-card--green-600.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--green-600.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--green-600.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--green-600.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--green-600.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                
                .prv-slider-controls
                    .prv-slider-btn.swiper-button-prev
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                        </svg>
                    .swiper-pagination
                    .prv-slider-btn.swiper-button-next
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                        </svg>

.prv-card-carousel-tpl.prv-style-1.prv-bg-white.prv-sp-d24-m16
    .container
        h2.prv-title.prv-txt-orange-300 Servicios en línea
        .cards-swiper-05#cardSwiper055(data-slide-xs="2", data-slide-sm="1", data-slide-md="2", data-slide-lg="3")   
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .prv-card.prv-card--yellow.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--yellow.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--yellow.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--yellow.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                    .swiper-slide
                        .prv-card.prv-card--yellow.prv-style-6
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icon-documento-1.png")
                                img(src="images/cards/icon-documento-1.png", alt="")
                            .prv-card__body
                                h3.card__title.title__ellipsis Descargar mi certificado de afiliación
                
                .prv-slider-controls
                    .prv-slider-btn.swiper-button-prev
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                        </svg>
                    .swiper-pagination
                    .prv-slider-btn.swiper-button-next
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                        </svg>

h2(style="font-size:18px;margin:0;padding:10px 15px;border-top: 1px solid #000;border-bottom: 1px solid #000;background:#000;color:#fff") Variente 06
.prv-card-carousel-tpl.prv-style-3.prv-bg-white.prv-sp-d24-m16
    .container
        .prv-title-content
            h2.prv-title.prv-txt-green-700 Requisitos para retirar cesantías
            .prv-subtitle
                p Los requisitos varían según la razón por la que deseas retirar tus cesantías.  Los motivos son:
        .cards-swiper-01#cardSwiper06(data-slide-xs="3", data-slide-sm="3", data-slide-md="3", data-slide-lg="3")
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-8
                            .prv-card__content
                                picture.prv-card__image
                                    source(media="(min-width: 1024px)" srcset="images/cards/icon-educacion-superior.png")
                                    img(src="images/cards/icon-educacion-superior.png", alt="")
                                    
                                .prv-card__body
                                    h3.card__title.title__ellipsis.prv-txt-green-700 Educación superior
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-8
                            .prv-card__content
                                picture.prv-card__image
                                    source(media="(min-width: 1024px)" srcset="images/cards/icon-remodelacion-vivienda.png")
                                    img(src="images/cards/icon-remodelacion-vivienda.png", alt="")
                                    
                                .prv-card__body
                                    h3.card__title.title__ellipsis.prv-txt-green-700 Compra o remodelación de vivienda
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-8
                            .prv-card__content
                                picture.prv-card__image
                                    source(media="(min-width: 1024px)" srcset="images/cards/icon-terminacion-contrato.png")
                                    img(src="images/cards/icon-terminacion-contrato.png", alt="")
                                    
                                .prv-card__body
                                    h3.card__title.title__ellipsis.prv-txt-green-700 Terminación de contrato
                    
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-8
                            .prv-card__content
                                picture.prv-card__image
                                    source(media="(min-width: 1024px)" srcset="images/cards/icon-terminacion-contrato.png")
                                    img(src="images/cards/icon-terminacion-contrato.png", alt="")
                                    
                                .prv-card__body
                                    h3.card__title.title__ellipsis.prv-txt-green-700 Titulo de prueba

                .prv-slider-controls
                    .prv-slider-btn.swiper-button-prev
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                        </svg>
                    .swiper-pagination
                    .prv-slider-btn.swiper-button-next
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                        </svg>


h2(style="font-size:18px;margin:0;padding:10px 15px;border-top: 1px solid #000;border-bottom: 1px solid #000;background:#000;color:#fff") Variente 07
.prv-card-carousel-tpl.prv-style-2.prv-bg-white.prv-sp-d24-m16
    .container
        .prv-title-content
            h2.prv-title.prv-txt-green-700 ¿Cómo puedes administrar el ahorro de tus cesantías?
            .prv-subtitle
                p Cuentas con dos portafolios: Largo Plazo y Corto Plazo. Tú decides cómo distribuir tu ahorro en estos portafolios según tus objetivos, perfil de inversión y el momento en que  esperas utilizarlas.    
        .cards-swiper-07#cardSwiper07(data-slide-xs="1", data-slide-sm="2", data-slide-md="2", data-slide-lg="2")
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-7 
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/card-var07-desktop.png")
                                img(src="images/cards/card-var07-mobile.png", alt="")
                                
                            .prv-card__body
                                h2.card__title.title__ellipsis.prv-txt-orange-300 Portafolio de corto plazo
                                .card__description
                                    p Para personas que requieren de sus  ahorros para cumplir metas a corto plazo. Es ideal si cada 6 meses vas a pagar la matrícula de la universidad.
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-7
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/card-var07-desktop.png")
                                img(src="images/cards/card-var07-mobile.png", alt="")
                                
                            .prv-card__body
                                h2.card__title.title__ellipsis.prv-txt-orange-300 Portafolio de largo plazo
                                .card__description
                                    p Para personas que requieren de sus  ahorros para cumplir metas a mediano o largo plazo, como la compra de una casa.
                                                        
                .prv-slider-controls
                    .prv-slider-btn.swiper-button-prev
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                        </svg>
                    .swiper-pagination
                    .prv-slider-btn.swiper-button-next
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                        </svg>
        
        .card-carousel__description
            p Si no has elegido tu portafolio, las cesantías pagadas en febrero ingresan al Corto Plazo. En agosto el saldo total pasa al Largo plazo. Para elegir tu portafolio 
                a.prv-btn--link(href="#", target="_blank", rel="noopener noreferrer") haz click aquí.

.prv-card-carousel-tpl.prv-style-2.prv-bg-white.prv-sp-d24-m16
    .container
        .prv-title-content
            h2.prv-title.prv-txt-green-700 Lorem ipsum dolor it
            .prv-subtitle
                p Cuentas con dos portafolios: Largo Plazo y Corto Plazo.
                p Si no has elegido tu portafolio, las cesantías pagadas en febrero ingresan.  
        .cards-swiper-07#cardSwiper077(data-slide-xs="1", data-slide-sm="2", data-slide-md="2", data-slide-lg="2")
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-7 
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/card-var07-desktop.png")
                                img(src="images/cards/card-var07-mobile.png", alt="")
                                
                            .prv-card__body
                                h2.card__title.title__ellipsis.prv-txt-orange-300 Portafolio de corto plazo
                                .card__description
                                    p Para personas que requieren de sus  ahorros para cumplir metas a corto plazo.
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-7
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/card-var07-desktop.png")
                                img(src="images/cards/card-var07-mobile.png", alt="")
                                
                            .prv-card__body
                                h2.card__title.title__ellipsis.prv-txt-orange-300 Portafolio de largo plazo
                                .card__description
                                    p Para personas que requieren de sus  ahorros para cumplir metas a mediano o largo plazo.
                                                        
                .prv-slider-controls
                    .prv-slider-btn.swiper-button-prev
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                        </svg>
                    .swiper-pagination
                    .prv-slider-btn.swiper-button-next
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                        </svg>

h2(style="font-size:18px;margin:0;padding:10px 15px;border-top: 1px solid #000;border-bottom: 1px solid #000;background:#000;color:#fff") Variente 08
.prv-card-carousel-tpl.prv-style-3.prv-bg-white.prv-sp-d24-m16
    .container
        h2.prv-title.prv-txt-green-700 Información sobre Pensión Voluntaria
        .cards-swiper-01#cardSwiper08(data-slide-xs="1", data-slide-sm="1", data-slide-md="2", data-slide-lg="4")
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-9
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Fichas técnicas portafolio de inversión
                                .card__button
                                    a.prv-btn.prv-btn--link(href="#") Conoce más 
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-9
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Guías de administración de cuentas
                                .card__button
                                    a.prv-btn.prv-btn--link(href="#") Conoce más 
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-9
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Cómo leer mi extracto
                                .card__button
                                    a.prv-btn.prv-btn--link(href="#") Conoce más 
                    .swiper-slide
                        .prv-card.prv-card--center.prv-style-9
                            picture.prv-card__image
                                source(media="(min-width: 1024px)" srcset="images/cards/icono-discount-1.png")
                                img(src="images/cards/icono-discount-1.png", alt="")
                                
                            .prv-card__body
                                h3.card__title.title__ellipsis.prv-txt-green-700 Deber de asesoría
                                .card__button
                                    a.prv-btn.prv-btn--link(href="#") Conoce más 

                .prv-slider-controls
                    .prv-slider-btn.swiper-button-prev
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                        </svg>
                    .swiper-pagination
                    .prv-slider-btn.swiper-button-next
                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                        <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                        </svg>

