.container
    .prv-title-content
        h2.tab-tpl__title.prv-title.prv-txt-green-700 Esto también te podría interesar
        p.tab-tpl__subtitle.prv-subtitle Esto también te podría interesar
    .row 
        .col-4
            .prv-card.prv-style-1
                picture.prv-card__img-top 
                    source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                    img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                .prv-card__body
                    p.card__badge.prv-txt-orange-300 Label
                    .card__box
                        h3.card__title.prv-txt-green-700 Title 1
                        .card__description
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    .card__button
                        a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
        .col-4
            .prv-card.prv-style-1
                picture.prv-card__img-top 
                    source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                    img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                .prv-card__body
                    p.card__badge.prv-txt-orange-300 Label
                    .card__box
                        h3.card__title.prv-txt-green-700 Title 1
                        .card__description
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    .card__button
                        a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
        .col-4
            .prv-card.prv-style-1
                picture.prv-card__img-top 
                    source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                    img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                .prv-card__body
                    p.card__badge.prv-txt-orange-300 Label
                    .card__box
                        h3.card__title.prv-txt-green-700 Title 1
                        .card__description
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    .card__button
                        a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
