//- .pvr__banner.pvr__banner--v1.pvr__banner--bkg-black-green
//-     .pvr__banner--content
//-         .pvr__banner--left
//-             h1.title Ahorra para tus sueños, construye tu futuro.
//-             p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
//-             .pvr__banner--btn--content
//-                 a(href="#").pvr__banner--btn.prv-btn.prv-btn--round-corner.prv-btn--orange Afiliate a Porvenir
            
//-         .pvr__banner--right 
//-             picture.pvr__banner--image
//-                 source(media="(min-width: 1024px)" srcset="images/Banner-Family-desktop.png")
//-                 img(src="images/Banner-Family-mobile.png", alt="").picture  

.pvr__banner.pvr__banner--v2.pvr__banner--bkg-black-green
    .pvr__banner--content
        .pvr__banner--left
            h1.title Afíliate a pensiones
            p.text Asegura tu futuro, vive el presente
            .pvr__banner--btn--content
                a(href="#").pvr__banner--btn.prv-btn.prv-btn--round-corner.prv-btn--orange Afiliarme
            
        .pvr__banner--right 
            picture.pvr__banner--image
                source(media="(min-width: 1024px)" srcset="images/Banner-Family-desktop.png")
                img(src="images/Banner-Family-mobile.png", alt="").picture
.prv-layout-frg-section.prv-sp-0.pvr-t-d0-m-60
    .container.prv-bg-green-90deg-3.prv-bg-white
        .row
            .col-lg-4.order-lg-2.mb-4.mb-lg-0.prv-layout-sticky
                .pvr__hub-navigation
                    .content
                        h2.title Aquí encontrarás
                        ul.navigation__list
                            li.navigation__item
                                a(href="#introduccion"  data-navigatelink="historias" class="link")                                    
                                    span.item--number 01
                                    span.item--text Beneficio pensional
                            li.navigation__item
                                a(href="#cuerpo" data-navigatelink="preguntas" class="link")                                    
                                    span.item--number 02
                                    span.item--text ¿Cómo realizar la solicitud del beneficio pensional por este canal?
                            li.navigation__item
                                a(href="#final" data-navigatelink="intereses" class="link")                                    
                                    span.item--number 03
                                    span.item--text ¿Cómo realizar la solicitud del beneficio pensional por este canal?                   
            .col-lg-8.order-lg-1
                .section.pvr__information#introduccion
                    .container 
                        h2.title Proceso de afiliación
                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        picture
                            source(media="(min-width: 768px)" srcset="images/cards/imagen-prueba-card-v2.png")
                            img(src="images/cards/imagen-prueba-card-v1.png" alt="title" width="320" height="144")

                .section.pvr__information#cuerpo
                    .container 
                        h2.title Proceso de afiliación
                        span.subtitle Subtitle
                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

                .section.pvr__information#final
                    .container 
                        h2.title Lorem ipsum dolor sit amet, consectetur.
                        span.subtitle Lorem ipsum dolor sit amet, consectetur.
                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.