section.pvr__banner.pvr__banner--v2.pvr__banner--bkg-green
    .pvr__banner--content
        .pvr__banner--left
            h1.title Afíliate a pensiones
            p.text Asegura tu futuro, vive el presente
            .pvr__banner--btn--content
                a(href="#").pvr__banner--btn.prv-btn.prv-btn--round-corner.prv-btn--orange Afiliarme
            
        .pvr__banner--right 
            picture.pvr__banner--image
                source(media="(min-width: 1024px)" srcset="images/Banner-Family-desktop.png")
                img(src="images/Banner-Family-mobile.png", alt="").picture

.pvr-menu_navigation
    .pvr-menu_navigation--content
        ul.pvr-menu_navigation--list
            li.pvr-menu_navigation--item
                .pvr-menu_navigation--item--content
                    h2.title Aquí encontrarás
                    ul.btn__list
                        li
                            a(href="#"  data-navigatelink="historias").btn__navigatelink.btn__item#anchor1Link
                                span.btn__item--info
                                    span.btn__item--number 01
                                    span.btn__item--text Button
                        li
                            a(href="#" data-navigatelink="preguntas" ).btn__navigatelink.btn__item
                                span.btn__item--info
                                    span.btn__item--number 02
                                    span.btn__item--text Button
                        li
                            a(href="#" data-navigatelink="intereses" ).btn__navigatelink.btn__item
                                span.btn__item--info
                                    span.btn__item--number 03
                                    span.btn__item--text Button


section.pvr__historias(data-navigateanchor="historias").anchor_#anchor1
    .pvr__historias--content
        h2.pvr__historias--title.prv-title.prv-txt-green-700 ¿Qué esperas para vivir tu Porvenir? 
        ul.pvr__historias--list
            li.pvr__historias--item
                .pvr__historias--item--content
                    .pvr__historias--item--image
                        img(src="images/Historias-Person.png", alt="")
                    h3.title Gilberto hace parte de los 2.099 pensionados en Porvenir del mes de septiembre.  
                    p.text “Pensionarme con Porvenir fue sencillo y me acompañaron en cada paso. Ahora disfruto de mis nietos con la tranquilidad de que mi futuro está asegurado".
            li.pvr__historias--item
                .pvr__historias--item--content
                    .pvr__historias--item--image
                        img(src="images/Historias-Person.png", alt="")
                    h3.title Con sus cesantías, Carolina cumplió uno de sus sueños en septiembre.  
                    p.text “Con mis cesantías de Porvenir logré pagar la primera cuota del apartamento que siempre quise. Porvenir, además, me acompañó en cada momento”.
            li.pvr__historias--item
                .pvr__historias--item--content
                    .pvr__historias--item--image
                        img(src="images/Historias-Person.png", alt="")
                    h3.title Camilo es una de los 8000 personas que ya disfrutan de la pensión voluntaria. 
                    p.text “Estuve buscando muchas opciones para invertir, y la pensión voluntaria de Porvenir fue la que más me impresionó”.

section.pvr__afiliarte
    .container
        .pvr__afiliarte--content
            .pvr__afiliarte--card
                .pvr__afiliarte--banner
                    picture.pvr__banner--image
                        source(media="(min-width: 1024px)" srcset="images/Banner-Afilarte-desktop.png")
                        img(src="images/Banner-Afilarte-mobile.png", alt="").picture
                h2.pvr__afiliarte--title.prv-title.prv-txt-green-700 Completa el formulario 
                p.pvr__afiliarte--subtitle Ingresa tus datos básicos en el formulario de afiliación. 
                    a(href="#")  Haz click acá. 
            .pvr__afiliarte--requisitos
                .prv-title.prv-txt-green-700 ¿Aún no estás afiliado a Porvenir?
                ul.pvr__afiliarte--list
                    li.pvr__afiliarte--item.pvr__afiliarte--itemv1
                        .pvr__afiliarte--item--content
                            .pvr__afiliarte--item--left
                                picture.pvr__afiliarte--item--image
                                    source(media="(min-width: 1024px)" srcset="images/Icono-Afiliarte.png")
                                    img(src="images/Icono-Afiliarte.png", alt="").picture
                            .pvr__afiliarte--item--right
                                h3.title.prv-txt-green-700 Empleado
                                p.subtitle Inicia el camino al retiro soñado 
                                a(href="#").pvr__afiliarte--item--btn.prv-btn.prv-btn--orange.prv-btn--round-corner Afiliarme
                    li.pvr__afiliarte--item.pvr__afiliarte--itemv1
                        .pvr__afiliarte--item--content
                            .pvr__afiliarte--item--left
                                picture.pvr__afiliarte--item--image
                                    source(media="(min-width: 1024px)" srcset="images/Icono-Afiliarte.png")
                                    img(src="images/Icono-Afiliarte.png", alt="").picture
                            .pvr__afiliarte--item--right
                                h3.title.prv-txt-green-700  Independiente
                                p.subtitle Ahorra y accede a beneficios exclusivos
                                a(href="#").pvr__afiliarte--item--btn.prv-btn.prv-btn--orange.prv-btn--round-corner Afiliarme
                    li.pvr__afiliarte--item.pvr__afiliarte--itemv1
                        .pvr__afiliarte--item--content
                            .pvr__afiliarte--item--left
                                picture.pvr__afiliarte--item--image
                                    source(media="(min-width: 1024px)" srcset="images/Icono-Afiliarte.png")
                                    img(src="images/Icono-Afiliarte.png", alt="").picture
                            .pvr__afiliarte--item--right
                                h3.title.prv-txt-green-700  Empleados domésticos
                                p.subtitle Ahorra y accede a beneficios exclusivos
                                a(href="#").pvr__afiliarte--item--btn.prv-btn.prv-btn--orange.prv-btn--round-corner Afiliarme
            .pvr__afiliarte--beneficios
                .prv-title.prv-txt-green-700 ¿Ya disfrutas de tus beneficios en Porvenir?
                ul.pvr__afiliarte--list
                    li.pvr__afiliarte--item.pvr__afiliarte--itemv2
                        .pvr__afiliarte--item--content
                            .pvr__afiliarte--item--left
                                picture.pvr__afiliarte--item--image
                                    source(media="(min-width: 1024px)" srcset="images/Icono-Afiliarte.png")
                                    img(src="images/Icono-Beneficios.png", alt="").picture
                            .pvr__afiliarte--item--right
                                h3.title.prv-txt-green-700 Descuentos exclusivos
                                p.subtitle Con Porvenir disfruta de descuentos con más de 200 comercios a nivel nacional. 
                                a(href="#").pvr__afiliarte--item--btn.prv-btn Conoce más
                    li.pvr__afiliarte--item.pvr__afiliarte--itemv2
                        .pvr__afiliarte--item--content
                            .pvr__afiliarte--item--left
                                picture.pvr__afiliarte--item--image
                                    source(media="(min-width: 1024px)" srcset="images/Icono-Afiliarte.png")
                                    img(src="images/Icono-Beneficios.png", alt="").picture
                            .pvr__afiliarte--item--right
                                h3.title.prv-txt-green-700 Descuentos exclusivos
                                p.subtitle Con Porvenir disfruta de descuentos con más de 200 comercios a nivel nacional. 
                                a(href="#").pvr__afiliarte--item--btn.prv-btn Conoce más