section.pvr__banner.pvr__banner--v2.pvr__banner--bkg-green
    .pvr__banner--content
        .pvr__banner--left
            h1.title Afíliate a pensiones
            p.text Asegura tu futuro, vive el presente
            .pvr__banner--btn--content
                a(href="#").pvr__banner--btn.prv-btn.prv-btn--round-corner.prv-btn--orange Afiliarme
            
        .pvr__banner--right 
            picture.pvr__banner--image
                source(media="(min-width: 1024px)" srcset="images/Banner-Family-desktop.png")
                img(src="images/Banner-Family-mobile.png", alt="").picture

.pvr__hub-navigation
    .content
        h2.title Aquí encontrarás
        ul.navigation__list
            li.navigation__item
                a(href="#"  data-navigatelink="historias" class="link")
                    span.item--info
                        span.item--number 01
                        span.item--text Button
            li.navigation__item
                a(href="#" data-navigatelink="preguntas" class="link")
                    span.item--info
                        span.item--number 02
                        span.item--text Button
            li.navigation__item
                a(href="#" data-navigatelink="intereses" class="link")
                    span.item--info
                        span.item--number 03
                        span.item--text Button     

section.pvr-testimonials-tpl.prv-bg-white.prv-sp-d24-m16.anchor_#anchor1(data-navigateanchor="historias")
    .container
        h2.testimonials-tpl__title.prv-title.prv-txt-green-700 ¿Qué esperas para vivir tu Porvenir? 
        .testimonials-tpl-swiper.swiper-only-mobile
            .swiper
                .swiper-wrapper
                    li.swiper-slide.testimonials-tpl__item
                        .prv-card.prv-style-2
                            picture.prv-card__image
                                source(media="(min-width: 992px)" srcset="images/Historias-Person.png")
                                img(src="images/Historias-Person.png" alt="testimonios 1" width="132" height="132")
                            .prv-card__body
                                h3.card__title Gilberto hace parte de los 2.099 pensionados en Porvenir del mes de septiembre.  
                                p.card__description “Pensionarme con Porvenir fue sencillo y me acompañaron en cada paso. Ahora disfruto de mis nietos con la tranquilidad de que mi futuro está asegurado".
                    
                    li.swiper-slide.testimonials-tpl__item
                        .prv-card.prv-style-2
                            picture.prv-card__image
                                source(media="(min-width: 992px)" srcset="images/Historias-Person.png")
                                img(src="images/Historias-Person.png" alt="testimonios 1" width="132" height="132")
                            .prv-card__body
                                h3.card__title Gilberto hace parte de los 2.099 pensionados en Porvenir del mes de septiembre.  
                                p.card__description “Pensionarme con Porvenir fue sencillo y me acompañaron en cada paso. Ahora disfruto de mis nietos con la tranquilidad de que mi futuro está asegurado".
                    
                    li.swiper-slide.testimonials-tpl__item
                        .prv-card.prv-style-2
                            picture.prv-card__image
                                source(media="(min-width: 992px)" srcset="images/Historias-Person.png")
                                img(src="images/Historias-Person.png" alt="testimonios 1" width="132" height="132")
                            .prv-card__body
                                h3.card__title Gilberto hace parte de los 2.099 pensionados en Porvenir del mes de septiembre.  
                                p.card__description “Pensionarme con Porvenir fue sencillo y me acompañaron en cada paso. Ahora disfruto de mis nietos con la tranquilidad de que mi futuro está asegurado".


.pvr__afiliarte
    .container
        .row.no-gutters
            .col-md-8
                .pvr__afiliarte--content
                    .pvr__afiliarte--card
                        .pvr__afiliarte--banner
                            picture.pvr__banner--image
                                source(media="(min-width: 1024px)" srcset="images/Banner-Afilarte-desktop.png")
                                img(src="images/Banner-Afilarte-mobile.png", alt="").picture
                        h2.pvr__afiliarte--title.prv-title.prv-txt-green-700 Completa el formulario 
                        p.pvr__afiliarte--subtitle Ingresa tus datos básicos en el formulario de afiliación. 
                            a(href="#")  Haz click acá. 
                    .pvr__afiliarte--requisitos
                        .prv-title.prv-txt-green-700 ¿Aún no estás afiliado a Porvenir?
                        ul.pvr__afiliarte--list
                            li.pvr__afiliarte--item.pvr__afiliarte--itemv1
                                .pvr__afiliarte--item--content
                                    .pvr__afiliarte--item--left
                                        picture.pvr__afiliarte--item--image
                                            source(media="(min-width: 1024px)" srcset="images/Icono-Afiliarte.png")
                                            img(src="images/Icono-Afiliarte.png", alt="").picture
                                    .pvr__afiliarte--item--right
                                        h3.title.prv-txt-green-700 Empleado
                                        p.subtitle Inicia el camino al retiro soñado 
                                        a(href="#").pvr__afiliarte--item--btn.prv-btn.prv-btn--orange.prv-btn--round-corner Afiliarme
                            li.pvr__afiliarte--item.pvr__afiliarte--itemv1
                                .pvr__afiliarte--item--content
                                    .pvr__afiliarte--item--left
                                        picture.pvr__afiliarte--item--image
                                            source(media="(min-width: 1024px)" srcset="images/Icono-Afiliarte.png")
                                            img(src="images/Icono-Afiliarte.png", alt="").picture
                                    .pvr__afiliarte--item--right
                                        h3.title.prv-txt-green-700  Independiente
                                        p.subtitle Ahorra y accede a beneficios exclusivos
                                        a(href="#").pvr__afiliarte--item--btn.prv-btn.prv-btn--orange.prv-btn--round-corner Afiliarme
                            li.pvr__afiliarte--item.pvr__afiliarte--itemv1
                                .pvr__afiliarte--item--content
                                    .pvr__afiliarte--item--left
                                        picture.pvr__afiliarte--item--image
                                            source(media="(min-width: 1024px)" srcset="images/Icono-Afiliarte.png")
                                            img(src="images/Icono-Afiliarte.png", alt="").picture
                                    .pvr__afiliarte--item--right
                                        h3.title.prv-txt-green-700  Empleados domésticos
                                        p.subtitle Ahorra y accede a beneficios exclusivos
                                        a(href="#").pvr__afiliarte--item--btn.prv-btn.prv-btn--orange.prv-btn--round-corner Afiliarme
                    .pvr__afiliarte--beneficios
                        .prv-title.prv-txt-green-700 ¿Ya disfrutas de tus beneficios en Porvenir?
                        ul.pvr__afiliarte--list
                            li.pvr__afiliarte--item.pvr__afiliarte--itemv2
                                .pvr__afiliarte--item--content
                                    .pvr__afiliarte--item--left
                                        picture.pvr__afiliarte--item--image
                                            source(media="(min-width: 1024px)" srcset="images/Icono-Afiliarte.png")
                                            img(src="images/Icono-Beneficios.png", alt="").picture
                                    .pvr__afiliarte--item--right
                                        h3.title.prv-txt-green-700 Descuentos exclusivos
                                        p.subtitle Con Porvenir disfruta de descuentos con más de 200 comercios a nivel nacional. 
                                        a(href="#").pvr__afiliarte--item--btn.prv-btn Conoce más
                            li.pvr__afiliarte--item.pvr__afiliarte--itemv2
                                .pvr__afiliarte--item--content
                                    .pvr__afiliarte--item--left
                                        picture.pvr__afiliarte--item--image
                                            source(media="(min-width: 1024px)" srcset="images/Icono-Afiliarte.png")
                                            img(src="images/Icono-Beneficios.png", alt="").picture
                                    .pvr__afiliarte--item--right
                                        h3.title.prv-txt-green-700 Descuentos exclusivos
                                        p.subtitle Con Porvenir disfruta de descuentos con más de 200 comercios a nivel nacional. 
                                        a(href="#").pvr__afiliarte--item--btn.prv-btn Conoce más