//- .pvr__banner.pvr__banner--v1.pvr__banner--bkg-black-green
//-     .pvr__banner--content
//-         .pvr__banner--left
//-             h1.title Ahorra para tus sueños, construye tu futuro.
//-             p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
//-             .pvr__banner--btn--content
//-                 a(href="#").pvr__banner--btn.prv-btn.prv-btn--round-corner.prv-btn--orange Afiliate a Porvenir
            
//-         .pvr__banner--right 
//-             picture.pvr__banner--image
//-                 source(media="(min-width: 1024px)" srcset="images/Banner-Family-desktop.png")
//-                 img(src="images/Banner-Family-mobile.png", alt="").picture  
include ../structure/breadcrumb

section.prv-banner-tpl.prv-variant-2.pvr-banner--bkg-green
    .banner-wrap.container
        .banner-content
            .banner-left
                h1.title Ahorra para tus sueños, construye tu futuro.
                .banner-btn(disabled)
                    a(href="#").prv-btn.prv-btn--round-corner.prv-btn--orange Afiliate a Porvenir
                
            .banner-right 
                picture.banner-image
                    source(media="(min-width: 1024px)" srcset="images/Banner-Family-desktop.png")
                    img.picture(src="images/Banner-Family-mobile.png", alt="")    

.prv-layout-frg-section.prv-sp-d40-m20
    .container
        .row
            .col-lg-4.order-lg-2.mb-4.mb-lg-0.prv-layout-sticky
                .pvr__hub-navigation
                    .content
                        h2.title Aquí encontrarás
                        ul.navigation__list
                            li.navigation__item
                                a(href="#introduccion"  data-navigatelink="historias" class="link")                                    
                                    span.item--number 01
                                    span.item--text Beneficio pensional
                            li.navigation__item
                                a(href="#cuerpo" data-navigatelink="preguntas" class="link")                                    
                                    span.item--number 02
                                    span.item--text ¿Cómo realizar la solicitud del beneficio pensional por este canal?
                            li.navigation__item
                                a(href="#final" data-navigatelink="intereses" class="link")                                    
                                    span.item--number 03
                                    span.item--text ¿Cómo realizar la solicitud del beneficio pensional por este canal?                   
            .col-lg-8.order-lg-1
                .pvr__section-search
                    .container 
                        h2.title.prv-txt-green-700 ¿En qué te podemos ayudar?
                        .navigation--search.pvr__search
                            form(action="", method="get" class="form") 
                                .search__control
                                    input(type="search" id="searchNav" name="q" class="search__input" onfocus="inputSearchFocus(this);" onblur="inputSearchBlur(this);" placeholder="Busca un producto o servicio (pensión, certificado, cesantías...)" required)
                                    label(for="searchNav" class="search__label") Buscar
                                    button(type="submit" value="Buscar" class="search__btn") 
                                        span.text buscar
                                        span.icon: svg: use(xlink:href=iconPath+'search')    
                                    button(type="button" value="limpiar" class="clear__btn" id="clearSearch" onclick="clearBtnSearch(this);") 
                                        span.icon
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M13.2997 0.710215C12.9097 0.320215 12.2797 0.320215 11.8897 0.710215L6.99973 5.59022L2.10973 0.700215C1.71973 0.310215 1.08973 0.310215 0.699727 0.700215C0.309727 1.09021 0.309727 1.72022 0.699727 2.11022L5.58973 7.00022L0.699727 11.8902C0.309727 12.2802 0.309727 12.9102 0.699727 13.3002C1.08973 13.6902 1.71973 13.6902 2.10973 13.3002L6.99973 8.41021L11.8897 13.3002C12.2797 13.6902 12.9097 13.6902 13.2997 13.3002C13.6897 12.9102 13.6897 12.2802 13.2997 11.8902L8.40973 7.00022L13.2997 2.11022C13.6797 1.73022 13.6797 1.09022 13.2997 0.710215Z" fill="#565656"/>
                                            </svg>
                                    button(type="button" value="cerrar" class="close__btn" id="closeSearch") 
                                        span.text Cerrar
                                        span.icon
                                            <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.03033 0.46967C7.32322 0.762563 7.32322 1.23744 7.03033 1.53033L2.56066 6L7.03033 10.4697C7.32322 10.7626 7.32322 11.2374 7.03033 11.5303C6.73744 11.8232 6.26256 11.8232 5.96967 11.5303L1.14645 6.70711C0.755922 6.31658 0.755922 5.68342 1.14645 5.29289L5.96967 0.46967C6.26256 0.176777 6.73744 0.176777 7.03033 0.46967Z" fill="#404040"/>
                                            </svg>  

                .pvr__offices.prv-sp-d40-m32
                    .container 
                        h2.title Nuestras oficinas
                        p.text Contamos con 51 oficinas a nivel nacional en donde encontrarás a los mejores asesores, quienes estarán dispuestos a ayudarte con todos los trámites relacionados a tus productos. 
                        form(action="").form 
                            fieldset.form__fieldset 
                                legend.form__legend Por favor selecciona la ciudad donde te encuentras:
                                .pvr__select#selectCity
                                    span.label Ciudad
                                    button(onclick="selectCustom(this);" type="button" class="select--button" role="combobox" aria-labelledby="select button" aria-haspopup="listbox" aria-expanded="false" aria-controls="select-dropdown")
                                        span.select--value Seleccionar
                                        span.arrow.icon: svg: use(xlink:href=iconPath+'chevron-down')
                                    ul.select--dropdown
                                        li.select--item.disabled
                                            input(type="radio", id="defaultCity", name="defaultCity") 
                                            label(for="defaultCity") Seleccionar

                                //- .pvr__select#selectTown
                                //-     span.label Localidad/comuna
                                //-     button(disabled onclick="selectCustom(this);" type="button" class="select--button" role="combobox" aria-labelledby="select button" aria-haspopup="listbox" aria-expanded="false" aria-controls="select-dropdown")
                                //-         span.select--value Seleccionar
                                //-         span.arrow.icon: svg: use(xlink:href=iconPath+'chevron-down')
                                //-     ul.select--dropdown
                                //-         li.select--item.disabled
                                //-             input(type="radio", id="defaultTown", name="defaultTown")
                                //-             label(for="defaultTown") Seleccionar

                        .results 
                            .title--result Nuestra oficina más cercana a ti
                            .swiper.result__swiper                                
                                .result__row.swiper-wrapper
                                    .result__column.swiper-slide
                                        .result__box
                                            .content 
                                                span.icon: svg: use(xlink:href=iconPath+'location')
                                                .description 
                                                    span.name Porvenir Pensiones y Cesantías
                                                    span.address #0000
                                                    span.journal Jornada continua
                                            .footer 
                                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Cómo llegar 
                                .swiper-custom-navigation  
                                    .swiper-button-prev 
                                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img"><path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/></svg>
                                    .swiper-pagination
                                    .swiper-button-next
                                        <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img"><path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/></svg>

                .pvr__transact.prv-sp-d40-m32
                    .container 
                        h2.title Realiza tu trámite
                        form(action="").form 
                            fieldset.form__fieldset
                                .pvr__select#selectProduct
                                    span.label Producto
                                    button(onclick="selectCustom(this);" type="button" class="select--button" role="combobox" aria-labelledby="select button" aria-haspopup="listbox" aria-expanded="false" aria-controls="select-dropdown")
                                        span.select--value Elige un producto
                                        span.arrow.icon: svg: use(xlink:href=iconPath+'chevron-down')
                                    ul.select--dropdown
                                        li.select--item.disabled
                                            input(type="radio", id="defaultProduct", name="defaultProduct") 
                                            label(for="defaultProduct") Elige un producto

                                .pvr__select#selectService
                                    span.label Servicio
                                    button(disabled onclick="selectCustom(this);" type="button" class="select--button" role="combobox" aria-labelledby="select button" aria-haspopup="listbox" aria-expanded="false" aria-controls="select-dropdown")
                                        span.select--value Elige un servicio 
                                        span.arrow.icon: svg: use(xlink:href=iconPath+'chevron-down')
                                    ul.select--dropdown
                                        li.select--item.disabled
                                            input(type="radio", id="defaultService", name="defaultService")
                                            label(for="defaultService") Elige un servicio 

                        .results 
                            span.text--result Estos son los canales recomendados para realizar tu trámite.
                            .result__row 
                                .result__column 
                                    .prv-card.prv-card--center.prv-style-3
                                        picture.prv-card__image 
                                            source(media="(min-width: 992px)", srcset="images/selector/icon-prueba.png")
                                            img(src="images/selector/icon-prueba-mobile.png", alt="imagen prueba", srcset="images/selector/icon-prueba-mobile.png")
                                        .prv-card__body 
                                            span.card__title.title__ellipsis.prv-txt-green-500 Lorem ipsum
                                            .card__button
                                                a(href="http://", target="_blank", rel="noopener noreferrer" class="prv-btn prv-btn--link") Button 
                                .result__column 
                                    .prv-card.prv-card--center.prv-style-3
                                        picture.prv-card__image 
                                            source(media="(min-width: 992px)", srcset="images/selector/icon-prueba.png")
                                            img(src="images/selector/icon-prueba-mobile.png", alt="imagen prueba", srcset="images/selector/icon-prueba-mobile.png")
                                        .prv-card__body 
                                            span.card__title.title__ellipsis.prv-txt-green-500 Lorem ipsum
                                            .card__button
                                                a(href="http://", target="_blank", rel="noopener noreferrer" class="prv-btn prv-btn--link") Button 
                                .result__column 
                                    .prv-card.prv-card--center.prv-style-3
                                        picture.prv-card__image 
                                            source(media="(min-width: 992px)", srcset="images/selector/icon-prueba.png")
                                            img(src="images/selector/icon-prueba-mobile.png", alt="imagen prueba", srcset="images/selector/icon-prueba-mobile.png")
                                        .prv-card__body 
                                            span.card__title.title__ellipsis.prv-txt-green-500 Lorem ipsum
                                            .card__button
                                                a(href="http://", target="_blank", rel="noopener noreferrer" class="prv-btn prv-btn--link") Button 
                                .result__column 
                                    .prv-card.prv-card--center.prv-style-3
                                        picture.prv-card__image 
                                            source(media="(min-width: 992px)", srcset="images/selector/icon-prueba.png")
                                            img(src="images/selector/icon-prueba-mobile.png", alt="imagen prueba", srcset="images/selector/icon-prueba-mobile.png")
                                        .prv-card__body 
                                            span.card__title.title__ellipsis.prv-txt-green-500 Lorem ipsum
                                            .card__button
                                                a(href="http://", target="_blank", rel="noopener noreferrer" class="prv-btn prv-btn--link") Button 

                .section.pvr__information#introduccion
                    .container 
                        h2.title Proceso de afiliación
                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        picture
                            source(media="(min-width: 768px)" srcset="images/cards/imagen-prueba-card-v2.png")
                            img(src="images/cards/imagen-prueba-card-v1.png" alt="title" width="320" height="144")

                .section.pvr__information#cuerpo
                    .container 
                        h2.title Proceso de afiliación
                        span.subtitle Subtitle
                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

                .section.pvr__information#final
                    .container 
                        h2.title Lorem ipsum dolor sit amet, consectetur.
                        span.subtitle Lorem ipsum dolor sit amet, consectetur.
                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

                        p Lorem ipsum dolor sit amet, consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

.pvr__modal
  span.modal--backdrop.close-modal
  .modal--content
    .modal--header
        button.close-modal 
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.875 7.13749C22.3875 6.64999 21.6 6.64999 21.1125 7.13749L15 13.2375L8.88752 7.12499C8.40002 6.63749 7.61252 6.63749 7.12502 7.12499C6.63752 7.61249 6.63752 8.39999 7.12502 8.88749L13.2375 15L7.12502 21.1125C6.63752 21.6 6.63752 22.3875 7.12502 22.875C7.61252 23.3625 8.40002 23.3625 8.88752 22.875L15 16.7625L21.1125 22.875C21.6 23.3625 22.3875 23.3625 22.875 22.875C23.3625 22.3875 23.3625 21.6 22.875 21.1125L16.7625 15L22.875 8.88749C23.35 8.41249 23.35 7.61249 22.875 7.13749Z" fill="#3E6A27"/>
            </svg>
    .modal--body
        .picture.mb-2.mb-md-3
            picture
                source(media="(min-width: 992px)", srcset="images/modal/icon-message.png")
                img(src="images/modal/icon-message.png", alt="imagen message", srcset="images/modal/icon-message.png")
        h3.prv-title.prv-txt-green-700.mb-3 Chat Porvenir
        p.prv-subtitle.prv-txt-gray-500 Aquí podrás actualizar tus datos, consultar tus saldos y generar certificados y extractos. Si tienes más consultas allí podrás recibir atención personalizada.
    .modal--footer
        a(href="http://", target="_blank", rel="noopener noreferrer", class="close-modal prv-btn prv-btn--round-corner prv-btn--orange open-modal") Ingresa al canal