section.pvr__banner.pvr__banner--v1.pvr__banner--bkg-green
    .pvr__banner--content
        .pvr__banner--left
            h1.title Ahorra para tus sueños, construye tu futuro.
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
            .pvr__banner--btn--content(disabled)
                a(href="#").pvr__banner--btn.prv-btn.prv-btn--round-corner.prv-btn--orange Afiliate a Porvenir
            
        .pvr__banner--right 
            picture.pvr__banner--image
                source(media="(min-width: 1024px)" srcset="images/Banner-Family-desktop.png")
                img(src="images/Banner-Family-mobile.png", alt="").picture
section.pvr__banner.pvr__banner--v1.pvr__banner--bkg-orange
    .pvr__banner--content
        .pvr__banner--left
            h1.title Ahorra para tus sueños, construye tu futuro.
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
            .pvr__banner--btn--content
                a(href="#").pvr__banner--btn.prv-btn.prv-btn--round-corner.prv-btn--green Afiliate a Porvenir
            
        .pvr__banner--right 
            picture.pvr__banner--image
                source(media="(min-width: 1024px)" srcset="images/Banner-Family-desktop.png")
                img(src="images/Banner-Family-mobile.png", alt="").picture

section.pvr__banner.pvr__banner--v1.pvr__banner--bkg-black-green
    .pvr__banner--content
        .pvr__banner--left
            h1.title Ahorra para tus sueños, construye tu futuro.
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
            .pvr__banner--btn--content
                a(href="#").pvr__banner--btn.prv-btn.prv-btn--round-corner.prv-btn--orange Afiliate a Porvenir
            
        .pvr__banner--right 
            picture.pvr__banner--image
                source(media="(min-width: 1024px)" srcset="images/Banner-Family-desktop.png")
                img(src="images/Banner-Family-mobile.png", alt="").picture                

section.pvr__banner.pvr__banner--v2.pvr__banner--bkg-green
    .pvr__banner--content
        .pvr__banner--left
            h1.title Afíliate a pensiones
            p.text Asegura tu futuro, vive el presente
            .pvr__banner--btn--content
                a(href="#").pvr__banner--btn.prv-btn.prv-btn--round-corner.prv-btn--orange Afiliarme
            
        .pvr__banner--right 
            picture.pvr__banner--image
                source(media="(min-width: 1024px)" srcset="images/Banner-Family-desktop.png")
                img(src="images/Banner-Family-mobile.png", alt="").picture

section.pvr__banner.pvr__banner--v2.pvr__banner--bkg-orange
    .pvr__banner--content
        .pvr__banner--left
            h1.title Afíliate a pensiones
            p.text Asegura tu futuro, vive el presente
            .pvr__banner--btn--content
                a(href="#").pvr__banner--btn.prv-btn.prv-btn--round-corner.prv-btn--green Afiliarme
        .pvr__banner--right 
            picture.pvr__banner--image
                source(media="(min-width: 1024px)" srcset="images/Banner-Family-desktop.png")
                img(src="images/Banner-Family-mobile.png", alt="").picture

section.pvr__banner.pvr__banner--v2.pvr__banner--bkg-black-green
    .pvr__banner--content
        .pvr__banner--left
            h1.title Afíliate a pensiones
            p.text Asegura tu futuro, vive el presente
            .pvr__banner--btn--content
                a(href="#").pvr__banner--btn.prv-btn.prv-btn--round-corner.prv-btn--orange Afiliarme
            
        .pvr__banner--right 
            picture.pvr__banner--image
                source(media="(min-width: 1024px)" srcset="images/Banner-Family-desktop.png")
                img(src="images/Banner-Family-mobile.png", alt="").picture

.pvr-menu_navigation
    .pvr-menu_navigation--content
        ul.pvr-menu_navigation--list
            li.pvr-menu_navigation--item
                .pvr-menu_navigation--item--content
                    h2.title Aquí encontrarás
                    ul.btn__list
                        li
                            a(href="#"  data-navigatelink="historias").btn__navigatelink.btn__item#anchor1Link
                                span.btn__item--info
                                    span.btn__item--number 01
                                    span.btn__item--text Button
                        li
                            a(href="#" data-navigatelink="preguntas" ).btn__navigatelink.btn__item
                                span.btn__item--info
                                    span.btn__item--number 02
                                    span.btn__item--text Button
                        li
                            a(href="#" data-navigatelink="intereses" ).btn__navigatelink.btn__item
                                span.btn__item--info
                                    span.btn__item--number 03
                                    span.btn__item--text Button

section.pvr-card-indice.prv-bg-white.prv-bg-green-90deg-2
    .card-indice__content.container 
        .card-indice__list
            .card-indice__item
                .prv-card.prv-style-5
                    .prv-card__info
                        .prv-card__body
                            h2.card__title Pensiones Obligatorias
                            p.card__description La pensión obligatoria es el derecho que construyes mediante los aportes que realizas para pensión.
                        picture.prv-card__image
                            source(media="(min-width: 992px)" srcset="images/Icono-Pension-Obligatorias.png")
                            img(src="images/Icono-Pension-Obligatorias.png" alt="pensiones obligatorias" width="100" height="100")
                    ul.prv-card__list
                        li
                            a(href="#" target="_blank").link-box
                                span.box__info
                                    span.info__number 01
                                    span.info__text Asesoría pensional
                                span.box__icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"></path></svg>
                        li
                            a(href="#" target="_blank").link-box
                                span.box__info
                                    span.info__number 02
                                    span.info__text Asesoría pensional
                                span.box__icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"></path></svg>
                        li
                            a(href="#" target="_blank").link-box
                                span.box__info
                                    span.info__number 03
                                    span.info__text Asesoría pensional
                                span.box__icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"></path></svg>
                        li
                            a(href="#" target="_blank").link-box
                                span.box__info
                                    span.info__number 04
                                    span.info__text Asesoría pensional
                                span.box__icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"></path></svg>

            .card-indice__item
                .prv-card.prv-style-5
                    .prv-card__info
                        .prv-card__body
                            h2.card__title Pensiones Obligatorias
                            p.card__description La pensión obligatoria es el derecho que construyes mediante los aportes que realizas para pensión.
                        picture.prv-card__image
                            source(media="(min-width: 992px)" srcset="images/Icono-Cesantias.png")
                            img(src="images/Icono-Cesantias.png" alt="pensiones obligatorias" width="100" height="100")
                    ul.prv-card__list
                        li
                            a(href="#" target="_blank").link-box
                                span.box__info
                                    span.info__number 01
                                    span.info__text Asesoría pensional
                                span.box__icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"></path></svg>
                        li
                            a(href="#" target="_blank").link-box
                                span.box__info
                                    span.info__number 02
                                    span.info__text Asesoría pensional
                                span.box__icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"></path></svg>
                        li
                            a(href="#" target="_blank").link-box
                                span.box__info
                                    span.info__number 03
                                    span.info__text Asesoría pensional
                                span.box__icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"></path></svg>
                        li
                            a(href="#" target="_blank").link-box
                                span.box__info
                                    span.info__number 04
                                    span.info__text Asesoría pensional
                                span.box__icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"></path></svg>

            .card-indice__item
                .prv-card.prv-style-5
                    .prv-card__info
                        .prv-card__body
                            h2.card__title Pensiones Obligatorias
                            p.card__description La pensión obligatoria es el derecho que construyes mediante los aportes que realizas para pensión.
                        picture.prv-card__image
                            source(media="(min-width: 992px)" srcset="images/Icono-Pension-Voluntarias.png")
                            img(src="images/Icono-Pension-Voluntarias.png" alt="pensiones obligatorias" width="100" height="100")
                    ul.prv-card__list
                        li
                            a(href="#" target="_blank").link-box
                                span.box__info
                                    span.info__number 01
                                    span.info__text Asesoría pensional
                                span.box__icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"></path></svg>
                        li
                            a(href="#" target="_blank").link-box
                                span.box__info
                                    span.info__number 02
                                    span.info__text Asesoría pensional
                                span.box__icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"></path></svg>
                        li
                            a(href="#" target="_blank").link-box
                                span.box__info
                                    span.info__number 03
                                    span.info__text Asesoría pensional
                                span.box__icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"></path></svg>
                        li
                            a(href="#" target="_blank").link-box
                                span.box__info
                                    span.info__number 04
                                    span.info__text Asesoría pensional
                                span.box__icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"></path></svg>

section.pvr-testimonials-tpl.prv-bg-white.prv-sp-d24-m16.anchor_#anchor1(data-navigateanchor="historias")
    .container
        h2.testimonials-tpl__title.prv-title.prv-txt-green-700 ¿Qué esperas para vivir tu Porvenir? 
        .testimonials-tpl-swiper.swiper-only-mobile
            .swiper
                .swiper-wrapper
                    li.swiper-slide.testimonials-tpl__item
                        .prv-card.prv-style-2
                            picture.prv-card__image
                                source(media="(min-width: 992px)" srcset="images/Historias-Person.png")
                                img(src="images/Historias-Person.png" alt="testimonios 1" width="132" height="132")
                            .prv-card__body
                                h3.card__title Gilberto hace parte de los 2.099 pensionados en Porvenir del mes de septiembre.  
                                p.card__description “Pensionarme con Porvenir fue sencillo y me acompañaron en cada paso. Ahora disfruto de mis nietos con la tranquilidad de que mi futuro está asegurado".
                    
                    li.swiper-slide.testimonials-tpl__item
                        .prv-card.prv-style-2
                            picture.prv-card__image
                                source(media="(min-width: 992px)" srcset="images/Historias-Person.png")
                                img(src="images/Historias-Person.png" alt="testimonios 1" width="132" height="132")
                            .prv-card__body
                                h3.card__title Gilberto hace parte de los 2.099 pensionados en Porvenir del mes de septiembre.  
                                p.card__description “Pensionarme con Porvenir fue sencillo y me acompañaron en cada paso. Ahora disfruto de mis nietos con la tranquilidad de que mi futuro está asegurado".
                    
                    li.swiper-slide.testimonials-tpl__item
                        .prv-card.prv-style-2
                            picture.prv-card__image
                                source(media="(min-width: 992px)" srcset="images/Historias-Person.png")
                                img(src="images/Historias-Person.png" alt="testimonios 1" width="132" height="132")
                            .prv-card__body
                                h3.card__title Gilberto hace parte de los 2.099 pensionados en Porvenir del mes de septiembre.  
                                p.card__description “Pensionarme con Porvenir fue sencillo y me acompañaron en cada paso. Ahora disfruto de mis nietos con la tranquilidad de que mi futuro está asegurado".

section.pvr-faq-tpl.prv-bg-white.prv-sp-d24-m16(data-navigateanchor="preguntas")
    .container
        .faq-tpl__content
        h2.faq-tpl__title.prv-title.prv-txt-green-700 Preguntas frecuentes
        
            .faq-tpl__list.faq-tpl__list-orange.accordion(data-multiselect="false")
                .list__item
                    p.faq-acc__header.accordion__tab
                        button.title ¿Hijos pueden heredar pensión de padres?
                    .faq-acc__body.accordion__panel
                        .info.accordion__panel__content
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia assumenda neque harum enim, odio, aliquid eveniet rem et pariatur magnam perspiciatis quod corrupti quo. Quasi quos tenetur similique voluptatibus.
                .list__item
                    p.faq-acc__header.accordion__tab
                        button.title ¿Hijos pueden heredar pensión de padres?
                    .faq-acc__body.accordion__panel
                        .info.accordion__panel__content
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia assumenda neque harum enim, odio, aliquid eveniet rem et pariatur magnam perspiciatis quod corrupti quo. Quasi quos tenetur similique voluptatibus.
                .list__item
                    p.faq-acc__header.accordion__tab
                        button.title ¿Hijos pueden heredar pensión de padres?
                    .faq-acc__body.accordion__panel
                        .info.accordion__panel__content
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia assumenda neque harum enim, odio, aliquid eveniet rem et pariatur magnam perspiciatis quod corrupti quo. Quasi quos tenetur similique voluptatibus.
                .list__item
                    p.faq-acc__header.accordion__tab
                        button.title ¿Hijos pueden heredar pensión de padres?
                    .faq-acc__body.accordion__panel
                        .info.accordion__panel__content
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia assumenda neque harum enim, odio, aliquid eveniet rem et pariatur magnam perspiciatis quod corrupti quo. Quasi quos tenetur similique voluptatibus.
                .list__item
                    p.faq-acc__header.accordion__tab
                        button.title ¿Hijos pueden heredar pensión de padres?
                    .faq-acc__body.accordion__panel
                        .info.accordion__panel__content
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia assumenda neque harum enim, odio, aliquid eveniet rem et pariatur magnam perspiciatis quod corrupti quo. Quasi quos tenetur similique voluptatibus.
        .pvr__preguntas--footer 
            a.prv-btn.prv-btn--link(href="http://", target="_blank", rel="noopener noreferrer") Consultar todas las preguntas

.prv-tab-tpl-section.prv-style-1.prv-bg-white.prv-bg-yellow-80-1(data-navigateanchor="intereses")
    .container 
        .prv-title-content
            h2.tab-tpl__title.prv-title.prv-txt-green-700 Esto también te podría interesar
            p.tab-tpl__subtitle.prv-subtitle Esto también te podría interesar
    .container 
        #fragment-2-aywy
            .prv-tab-collapse.prv-tab-horizontal
                ul.prv-nav-tab(role="tablist") 
                    li.tab__item(role="presentation")
                        button.tab__link.active(type="button", aria-controls="tueTabPanel1", aria-selected="true", data-fragment-namespace="aywy", id="tab1", role="tab") 
                            span Prepago
                    li.tab__item(role="presentation")
                        button.tab__link(type="button", aria-controls="tueTabPanel2", aria-selected="false", data-fragment-namespace="aywy", id="tab2", role="tab") 
                            span Postpago
            .prv-tab-content
                .prv-tab-pane(aria-labelledby="tab1", data-fragment-namespace="aywy", id="tueTabPanel1", role="tabpanel", tabindex="0")
                    .prv-cards-tpl.prv-style-1.prv-bg-transparent 
                        .container-full
                            .cards-tpl-swiper
                                .swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            .prv-card.prv-style-1
                                                picture.prv-card__img-top 
                                                    source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                                    img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                                .prv-card__body
                                                    p.card__badge.prv-txt-orange-300 Label
                                                    h3.card__title.prv-txt-green-700 Title 1
                                                    .card__description
                                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                                    .card__button
                                                        a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                        .swiper-slide
                                            .prv-card.prv-style-1
                                                picture.prv-card__img-top 
                                                    source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                                    img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                                .prv-card__body
                                                    p.card__badge.prv-txt-orange-300 Label
                                                    h3.card__title.prv-txt-green-700 Title 1
                                                    .card__description
                                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                                    .card__button
                                                        a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                        .swiper-slide
                                            .prv-card.prv-style-1
                                                picture.prv-card__img-top 
                                                    source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                                    img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                                .prv-card__body
                                                    p.card__badge.prv-txt-orange-300 Label
                                                    h3.card__title.prv-txt-green-700 Title 1
                                                    .card__description
                                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                                    .card__button
                                                        a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                        .swiper-slide
                                            .prv-card.prv-style-1
                                                picture.prv-card__img-top 
                                                    source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                                    img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                                .prv-card__body
                                                    p.card__badge.prv-txt-orange-300 Label
                                                    h3.card__title.prv-txt-green-700 Title 1
                                                    .card__description
                                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                                    .card__button
                                                        a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                        .swiper-slide
                                            .prv-card.prv-style-1
                                                picture.prv-card__img-top 
                                                    source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                                    img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                                .prv-card__body
                                                    p.card__badge.prv-txt-orange-300 Label
                                                    h3.card__title.prv-txt-green-700 Title 1
                                                    .card__description
                                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                                    .card__button
                                                        a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                    .cards-tpl-slider-controls
                                        .cards-tpl-slider-btn.swiper-button-prev
                                            <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                                            <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                                            </svg>
                                        .swiper-pagination
                                        .cards-tpl-slider-btn.swiper-button-next
                                            <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                                            <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                                            </svg>

                .prv-tab-pane.prv-tab-pane--none(aria-labelledby="tab2", data-fragment-namespace="aywy", id="tueTabPanel2", role="tabpanel", tabindex="0")
                    .prv-cards-tpl.prv-style-1.prv-bg-transparent 
                        .container-full
                            .cards-tpl-swiper
                                .swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            .prv-card.prv-style-1
                                                picture.prv-card__img-top 
                                                    source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                                    img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                                .prv-card__body
                                                    p.card__badge.prv-txt-orange-300 Label
                                                    h3.card__title.prv-txt-green-700 Title 2
                                                    .card__description
                                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                                    .card__button
                                                        a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                        .swiper-slide
                                            .prv-card.prv-style-1
                                                picture.prv-card__img-top 
                                                    source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                                    img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                                .prv-card__body
                                                    p.card__badge.prv-txt-orange-300 Label
                                                    h3.card__title.prv-txt-green-700 Title 2
                                                    .card__description
                                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                                    .card__button
                                                        a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                        .swiper-slide
                                            .prv-card.prv-style-1
                                                picture.prv-card__img-top 
                                                    source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                                    img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                                .prv-card__body
                                                    p.card__badge.prv-txt-orange-300 Label
                                                    h3.card__title.prv-txt-green-700 Title 2
                                                    .card__description
                                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                                    .card__button
                                                        a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                        .swiper-slide
                                            .prv-card.prv-style-1
                                                picture.prv-card__img-top 
                                                    source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                                    img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                                .prv-card__body
                                                    p.card__badge.prv-txt-orange-300 Label
                                                    h3.card__title.prv-txt-green-700 Title 2
                                                    .card__description
                                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                                    .card__button
                                                        a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                        .swiper-slide
                                            .prv-card.prv-style-1
                                                picture.prv-card__img-top 
                                                    source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                                    img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                                .prv-card__body
                                                    p.card__badge.prv-txt-orange-300 Label
                                                    h3.card__title.prv-txt-green-700 Title 2
                                                    .card__description
                                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                                    .card__button
                                                        a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                    .cards-tpl-slider-controls
                                        .cards-tpl-slider-btn.swiper-button-prev
                                            <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                                            <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                                            </svg>
                                        .swiper-pagination
                                        .cards-tpl-slider-btn.swiper-button-next
                                            <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                                            <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                                            </svg>

                
.prv__certificados
    .container 
        h2.prv__certificados--title.prv-title.prv-txt-green-700 Certificados

        ul.prv__certificados--list
            li.prv__certificados--item
                a(href="#").prv__certificados--item--link
                    span.prv__certificados--item--icon
                        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.4243 6.97307H21.6875V6.0257C21.6875 5.27193 21.3881 4.54903 20.8551 4.01603C20.3221 3.48303 19.5992 3.18359 18.8454 3.18359H13.1612C12.4074 3.18359 11.6845 3.48303 11.1515 4.01603C10.6185 4.54903 10.3191 5.27193 10.3191 6.0257V6.97307H5.58224C5.07972 6.97307 4.59779 7.17269 4.24246 7.52802C3.88712 7.88335 3.6875 8.36529 3.6875 8.8678V24.0257C3.6875 24.5282 3.88712 25.0101 4.24246 25.3655C4.59779 25.7208 5.07972 25.9204 5.58224 25.9204H26.4243C26.9269 25.9204 27.4088 25.7208 27.7641 25.3655C28.1195 25.0101 28.3191 24.5282 28.3191 24.0257V8.8678C28.3191 8.36529 28.1195 7.88335 27.7641 7.52802C27.4088 7.17269 26.9269 6.97307 26.4243 6.97307ZM12.2138 6.0257C12.2138 5.77444 12.3136 5.53347 12.4913 5.35581C12.669 5.17814 12.9099 5.07833 13.1612 5.07833H18.8454C19.0967 5.07833 19.3376 5.17814 19.5153 5.35581C19.693 5.53347 19.7928 5.77444 19.7928 6.0257V6.97307H12.2138V6.0257ZM26.4243 8.8678V13.7953C23.2267 15.5358 19.6439 16.4474 16.0033 16.4468C12.3628 16.4474 8.78011 15.5363 5.58224 13.7965V8.8678H26.4243ZM26.4243 24.0257H5.58224V15.9304C8.82689 17.5175 12.3913 18.3422 16.0033 18.3415C19.6154 18.3416 23.1797 17.5165 26.4243 15.9293V24.0257ZM13.1612 13.6046C13.1612 13.3534 13.261 13.1124 13.4387 12.9348C13.6163 12.7571 13.8573 12.6573 14.1086 12.6573H17.898C18.1493 12.6573 18.3903 12.7571 18.5679 12.9348C18.7456 13.1124 18.8454 13.3534 18.8454 13.6046C18.8454 13.8559 18.7456 14.0969 18.5679 14.2745C18.3903 14.4522 18.1493 14.552 17.898 14.552H14.1086C13.8573 14.552 13.6163 14.4522 13.4387 14.2745C13.261 14.0969 13.1612 13.8559 13.1612 13.6046Z" fill="#FC802A"/>
                        </svg>
                    span.text Certificado de afiliación
                    span.prv__certificados--item-arrow
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2331 12.1457L13.5866 12.4992L13.2331 12.8528L9.35308 16.7328C9.15835 16.9275 9.15835 17.241 9.35308 17.4357C9.55108 17.6337 9.87448 17.6272 10.056 17.4457L14.646 12.8557C14.8407 12.661 14.8407 12.3475 14.646 12.1528L10.056 7.5628C9.86124 7.36806 9.54782 7.36806 9.35309 7.5628C9.15835 7.75754 9.15835 8.07095 9.35309 8.26569L13.2331 12.1457Z" fill="black" stroke="#1F1F1F"/>
                        </svg>
            li.prv__certificados--item
                a(href="#").prv__certificados--item--link
                    span.prv__certificados--item--icon
                        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.4243 6.97307H21.6875V6.0257C21.6875 5.27193 21.3881 4.54903 20.8551 4.01603C20.3221 3.48303 19.5992 3.18359 18.8454 3.18359H13.1612C12.4074 3.18359 11.6845 3.48303 11.1515 4.01603C10.6185 4.54903 10.3191 5.27193 10.3191 6.0257V6.97307H5.58224C5.07972 6.97307 4.59779 7.17269 4.24246 7.52802C3.88712 7.88335 3.6875 8.36529 3.6875 8.8678V24.0257C3.6875 24.5282 3.88712 25.0101 4.24246 25.3655C4.59779 25.7208 5.07972 25.9204 5.58224 25.9204H26.4243C26.9269 25.9204 27.4088 25.7208 27.7641 25.3655C28.1195 25.0101 28.3191 24.5282 28.3191 24.0257V8.8678C28.3191 8.36529 28.1195 7.88335 27.7641 7.52802C27.4088 7.17269 26.9269 6.97307 26.4243 6.97307ZM12.2138 6.0257C12.2138 5.77444 12.3136 5.53347 12.4913 5.35581C12.669 5.17814 12.9099 5.07833 13.1612 5.07833H18.8454C19.0967 5.07833 19.3376 5.17814 19.5153 5.35581C19.693 5.53347 19.7928 5.77444 19.7928 6.0257V6.97307H12.2138V6.0257ZM26.4243 8.8678V13.7953C23.2267 15.5358 19.6439 16.4474 16.0033 16.4468C12.3628 16.4474 8.78011 15.5363 5.58224 13.7965V8.8678H26.4243ZM26.4243 24.0257H5.58224V15.9304C8.82689 17.5175 12.3913 18.3422 16.0033 18.3415C19.6154 18.3416 23.1797 17.5165 26.4243 15.9293V24.0257ZM13.1612 13.6046C13.1612 13.3534 13.261 13.1124 13.4387 12.9348C13.6163 12.7571 13.8573 12.6573 14.1086 12.6573H17.898C18.1493 12.6573 18.3903 12.7571 18.5679 12.9348C18.7456 13.1124 18.8454 13.3534 18.8454 13.6046C18.8454 13.8559 18.7456 14.0969 18.5679 14.2745C18.3903 14.4522 18.1493 14.552 17.898 14.552H14.1086C13.8573 14.552 13.6163 14.4522 13.4387 14.2745C13.261 14.0969 13.1612 13.8559 13.1612 13.6046Z" fill="#FC802A"/>
                        </svg>
                    span.text Certificado de afiliación
                    span.prv__certificados--item-arrow
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2331 12.1457L13.5866 12.4992L13.2331 12.8528L9.35308 16.7328C9.15835 16.9275 9.15835 17.241 9.35308 17.4357C9.55108 17.6337 9.87448 17.6272 10.056 17.4457L14.646 12.8557C14.8407 12.661 14.8407 12.3475 14.646 12.1528L10.056 7.5628C9.86124 7.36806 9.54782 7.36806 9.35309 7.5628C9.15835 7.75754 9.15835 8.07095 9.35309 8.26569L13.2331 12.1457Z" fill="black" stroke="#1F1F1F"/>
                        </svg>
            li.prv__certificados--item
                a(href="#").prv__certificados--item--link
                    span.prv__certificados--item--icon
                        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.4243 6.97307H21.6875V6.0257C21.6875 5.27193 21.3881 4.54903 20.8551 4.01603C20.3221 3.48303 19.5992 3.18359 18.8454 3.18359H13.1612C12.4074 3.18359 11.6845 3.48303 11.1515 4.01603C10.6185 4.54903 10.3191 5.27193 10.3191 6.0257V6.97307H5.58224C5.07972 6.97307 4.59779 7.17269 4.24246 7.52802C3.88712 7.88335 3.6875 8.36529 3.6875 8.8678V24.0257C3.6875 24.5282 3.88712 25.0101 4.24246 25.3655C4.59779 25.7208 5.07972 25.9204 5.58224 25.9204H26.4243C26.9269 25.9204 27.4088 25.7208 27.7641 25.3655C28.1195 25.0101 28.3191 24.5282 28.3191 24.0257V8.8678C28.3191 8.36529 28.1195 7.88335 27.7641 7.52802C27.4088 7.17269 26.9269 6.97307 26.4243 6.97307ZM12.2138 6.0257C12.2138 5.77444 12.3136 5.53347 12.4913 5.35581C12.669 5.17814 12.9099 5.07833 13.1612 5.07833H18.8454C19.0967 5.07833 19.3376 5.17814 19.5153 5.35581C19.693 5.53347 19.7928 5.77444 19.7928 6.0257V6.97307H12.2138V6.0257ZM26.4243 8.8678V13.7953C23.2267 15.5358 19.6439 16.4474 16.0033 16.4468C12.3628 16.4474 8.78011 15.5363 5.58224 13.7965V8.8678H26.4243ZM26.4243 24.0257H5.58224V15.9304C8.82689 17.5175 12.3913 18.3422 16.0033 18.3415C19.6154 18.3416 23.1797 17.5165 26.4243 15.9293V24.0257ZM13.1612 13.6046C13.1612 13.3534 13.261 13.1124 13.4387 12.9348C13.6163 12.7571 13.8573 12.6573 14.1086 12.6573H17.898C18.1493 12.6573 18.3903 12.7571 18.5679 12.9348C18.7456 13.1124 18.8454 13.3534 18.8454 13.6046C18.8454 13.8559 18.7456 14.0969 18.5679 14.2745C18.3903 14.4522 18.1493 14.552 17.898 14.552H14.1086C13.8573 14.552 13.6163 14.4522 13.4387 14.2745C13.261 14.0969 13.1612 13.8559 13.1612 13.6046Z" fill="#FC802A"/>
                        </svg>
                    span.text Certificado de afiliación
                    span.prv__certificados--item-arrow
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2331 12.1457L13.5866 12.4992L13.2331 12.8528L9.35308 16.7328C9.15835 16.9275 9.15835 17.241 9.35308 17.4357C9.55108 17.6337 9.87448 17.6272 10.056 17.4457L14.646 12.8557C14.8407 12.661 14.8407 12.3475 14.646 12.1528L10.056 7.5628C9.86124 7.36806 9.54782 7.36806 9.35309 7.5628C9.15835 7.75754 9.15835 8.07095 9.35309 8.26569L13.2331 12.1457Z" fill="black" stroke="#1F1F1F"/>
                        </svg>
            li.prv__certificados--item
                a(href="#").prv__certificados--item--link
                    span.prv__certificados--item--icon
                        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.4243 6.97307H21.6875V6.0257C21.6875 5.27193 21.3881 4.54903 20.8551 4.01603C20.3221 3.48303 19.5992 3.18359 18.8454 3.18359H13.1612C12.4074 3.18359 11.6845 3.48303 11.1515 4.01603C10.6185 4.54903 10.3191 5.27193 10.3191 6.0257V6.97307H5.58224C5.07972 6.97307 4.59779 7.17269 4.24246 7.52802C3.88712 7.88335 3.6875 8.36529 3.6875 8.8678V24.0257C3.6875 24.5282 3.88712 25.0101 4.24246 25.3655C4.59779 25.7208 5.07972 25.9204 5.58224 25.9204H26.4243C26.9269 25.9204 27.4088 25.7208 27.7641 25.3655C28.1195 25.0101 28.3191 24.5282 28.3191 24.0257V8.8678C28.3191 8.36529 28.1195 7.88335 27.7641 7.52802C27.4088 7.17269 26.9269 6.97307 26.4243 6.97307ZM12.2138 6.0257C12.2138 5.77444 12.3136 5.53347 12.4913 5.35581C12.669 5.17814 12.9099 5.07833 13.1612 5.07833H18.8454C19.0967 5.07833 19.3376 5.17814 19.5153 5.35581C19.693 5.53347 19.7928 5.77444 19.7928 6.0257V6.97307H12.2138V6.0257ZM26.4243 8.8678V13.7953C23.2267 15.5358 19.6439 16.4474 16.0033 16.4468C12.3628 16.4474 8.78011 15.5363 5.58224 13.7965V8.8678H26.4243ZM26.4243 24.0257H5.58224V15.9304C8.82689 17.5175 12.3913 18.3422 16.0033 18.3415C19.6154 18.3416 23.1797 17.5165 26.4243 15.9293V24.0257ZM13.1612 13.6046C13.1612 13.3534 13.261 13.1124 13.4387 12.9348C13.6163 12.7571 13.8573 12.6573 14.1086 12.6573H17.898C18.1493 12.6573 18.3903 12.7571 18.5679 12.9348C18.7456 13.1124 18.8454 13.3534 18.8454 13.6046C18.8454 13.8559 18.7456 14.0969 18.5679 14.2745C18.3903 14.4522 18.1493 14.552 17.898 14.552H14.1086C13.8573 14.552 13.6163 14.4522 13.4387 14.2745C13.261 14.0969 13.1612 13.8559 13.1612 13.6046Z" fill="#FC802A"/>
                        </svg>
                    span.text Certificado de afiliación
                    span.prv__certificados--item-arrow
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2331 12.1457L13.5866 12.4992L13.2331 12.8528L9.35308 16.7328C9.15835 16.9275 9.15835 17.241 9.35308 17.4357C9.55108 17.6337 9.87448 17.6272 10.056 17.4457L14.646 12.8557C14.8407 12.661 14.8407 12.3475 14.646 12.1528L10.056 7.5628C9.86124 7.36806 9.54782 7.36806 9.35309 7.5628C9.15835 7.75754 9.15835 8.07095 9.35309 8.26569L13.2331 12.1457Z" fill="black" stroke="#1F1F1F"/>
                        </svg>
            li.prv__certificados--item
                a(href="#").prv__certificados--item--link
                    span.prv__certificados--item--icon
                        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.4243 6.97307H21.6875V6.0257C21.6875 5.27193 21.3881 4.54903 20.8551 4.01603C20.3221 3.48303 19.5992 3.18359 18.8454 3.18359H13.1612C12.4074 3.18359 11.6845 3.48303 11.1515 4.01603C10.6185 4.54903 10.3191 5.27193 10.3191 6.0257V6.97307H5.58224C5.07972 6.97307 4.59779 7.17269 4.24246 7.52802C3.88712 7.88335 3.6875 8.36529 3.6875 8.8678V24.0257C3.6875 24.5282 3.88712 25.0101 4.24246 25.3655C4.59779 25.7208 5.07972 25.9204 5.58224 25.9204H26.4243C26.9269 25.9204 27.4088 25.7208 27.7641 25.3655C28.1195 25.0101 28.3191 24.5282 28.3191 24.0257V8.8678C28.3191 8.36529 28.1195 7.88335 27.7641 7.52802C27.4088 7.17269 26.9269 6.97307 26.4243 6.97307ZM12.2138 6.0257C12.2138 5.77444 12.3136 5.53347 12.4913 5.35581C12.669 5.17814 12.9099 5.07833 13.1612 5.07833H18.8454C19.0967 5.07833 19.3376 5.17814 19.5153 5.35581C19.693 5.53347 19.7928 5.77444 19.7928 6.0257V6.97307H12.2138V6.0257ZM26.4243 8.8678V13.7953C23.2267 15.5358 19.6439 16.4474 16.0033 16.4468C12.3628 16.4474 8.78011 15.5363 5.58224 13.7965V8.8678H26.4243ZM26.4243 24.0257H5.58224V15.9304C8.82689 17.5175 12.3913 18.3422 16.0033 18.3415C19.6154 18.3416 23.1797 17.5165 26.4243 15.9293V24.0257ZM13.1612 13.6046C13.1612 13.3534 13.261 13.1124 13.4387 12.9348C13.6163 12.7571 13.8573 12.6573 14.1086 12.6573H17.898C18.1493 12.6573 18.3903 12.7571 18.5679 12.9348C18.7456 13.1124 18.8454 13.3534 18.8454 13.6046C18.8454 13.8559 18.7456 14.0969 18.5679 14.2745C18.3903 14.4522 18.1493 14.552 17.898 14.552H14.1086C13.8573 14.552 13.6163 14.4522 13.4387 14.2745C13.261 14.0969 13.1612 13.8559 13.1612 13.6046Z" fill="#FC802A"/>
                        </svg>
                    span.text Certificado de afiliación
                    span.prv__certificados--item-arrow
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2331 12.1457L13.5866 12.4992L13.2331 12.8528L9.35308 16.7328C9.15835 16.9275 9.15835 17.241 9.35308 17.4357C9.55108 17.6337 9.87448 17.6272 10.056 17.4457L14.646 12.8557C14.8407 12.661 14.8407 12.3475 14.646 12.1528L10.056 7.5628C9.86124 7.36806 9.54782 7.36806 9.35309 7.5628C9.15835 7.75754 9.15835 8.07095 9.35309 8.26569L13.2331 12.1457Z" fill="black" stroke="#1F1F1F"/>
                        </svg>
            li.prv__certificados--item
                a(href="#").prv__certificados--item--link
                    span.prv__certificados--item--icon
                        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.4243 6.97307H21.6875V6.0257C21.6875 5.27193 21.3881 4.54903 20.8551 4.01603C20.3221 3.48303 19.5992 3.18359 18.8454 3.18359H13.1612C12.4074 3.18359 11.6845 3.48303 11.1515 4.01603C10.6185 4.54903 10.3191 5.27193 10.3191 6.0257V6.97307H5.58224C5.07972 6.97307 4.59779 7.17269 4.24246 7.52802C3.88712 7.88335 3.6875 8.36529 3.6875 8.8678V24.0257C3.6875 24.5282 3.88712 25.0101 4.24246 25.3655C4.59779 25.7208 5.07972 25.9204 5.58224 25.9204H26.4243C26.9269 25.9204 27.4088 25.7208 27.7641 25.3655C28.1195 25.0101 28.3191 24.5282 28.3191 24.0257V8.8678C28.3191 8.36529 28.1195 7.88335 27.7641 7.52802C27.4088 7.17269 26.9269 6.97307 26.4243 6.97307ZM12.2138 6.0257C12.2138 5.77444 12.3136 5.53347 12.4913 5.35581C12.669 5.17814 12.9099 5.07833 13.1612 5.07833H18.8454C19.0967 5.07833 19.3376 5.17814 19.5153 5.35581C19.693 5.53347 19.7928 5.77444 19.7928 6.0257V6.97307H12.2138V6.0257ZM26.4243 8.8678V13.7953C23.2267 15.5358 19.6439 16.4474 16.0033 16.4468C12.3628 16.4474 8.78011 15.5363 5.58224 13.7965V8.8678H26.4243ZM26.4243 24.0257H5.58224V15.9304C8.82689 17.5175 12.3913 18.3422 16.0033 18.3415C19.6154 18.3416 23.1797 17.5165 26.4243 15.9293V24.0257ZM13.1612 13.6046C13.1612 13.3534 13.261 13.1124 13.4387 12.9348C13.6163 12.7571 13.8573 12.6573 14.1086 12.6573H17.898C18.1493 12.6573 18.3903 12.7571 18.5679 12.9348C18.7456 13.1124 18.8454 13.3534 18.8454 13.6046C18.8454 13.8559 18.7456 14.0969 18.5679 14.2745C18.3903 14.4522 18.1493 14.552 17.898 14.552H14.1086C13.8573 14.552 13.6163 14.4522 13.4387 14.2745C13.261 14.0969 13.1612 13.8559 13.1612 13.6046Z" fill="#FC802A"/>
                        </svg>
                    span.text Certificado de afiliación
                    span.prv__certificados--item-arrow
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2331 12.1457L13.5866 12.4992L13.2331 12.8528L9.35308 16.7328C9.15835 16.9275 9.15835 17.241 9.35308 17.4357C9.55108 17.6337 9.87448 17.6272 10.056 17.4457L14.646 12.8557C14.8407 12.661 14.8407 12.3475 14.646 12.1528L10.056 7.5628C9.86124 7.36806 9.54782 7.36806 9.35309 7.5628C9.15835 7.75754 9.15835 8.07095 9.35309 8.26569L13.2331 12.1457Z" fill="black" stroke="#1F1F1F"/>
                        </svg>
            li.prv__certificados--item
                a(href="#").prv__certificados--item--link
                    span.prv__certificados--item--icon
                        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.4243 6.97307H21.6875V6.0257C21.6875 5.27193 21.3881 4.54903 20.8551 4.01603C20.3221 3.48303 19.5992 3.18359 18.8454 3.18359H13.1612C12.4074 3.18359 11.6845 3.48303 11.1515 4.01603C10.6185 4.54903 10.3191 5.27193 10.3191 6.0257V6.97307H5.58224C5.07972 6.97307 4.59779 7.17269 4.24246 7.52802C3.88712 7.88335 3.6875 8.36529 3.6875 8.8678V24.0257C3.6875 24.5282 3.88712 25.0101 4.24246 25.3655C4.59779 25.7208 5.07972 25.9204 5.58224 25.9204H26.4243C26.9269 25.9204 27.4088 25.7208 27.7641 25.3655C28.1195 25.0101 28.3191 24.5282 28.3191 24.0257V8.8678C28.3191 8.36529 28.1195 7.88335 27.7641 7.52802C27.4088 7.17269 26.9269 6.97307 26.4243 6.97307ZM12.2138 6.0257C12.2138 5.77444 12.3136 5.53347 12.4913 5.35581C12.669 5.17814 12.9099 5.07833 13.1612 5.07833H18.8454C19.0967 5.07833 19.3376 5.17814 19.5153 5.35581C19.693 5.53347 19.7928 5.77444 19.7928 6.0257V6.97307H12.2138V6.0257ZM26.4243 8.8678V13.7953C23.2267 15.5358 19.6439 16.4474 16.0033 16.4468C12.3628 16.4474 8.78011 15.5363 5.58224 13.7965V8.8678H26.4243ZM26.4243 24.0257H5.58224V15.9304C8.82689 17.5175 12.3913 18.3422 16.0033 18.3415C19.6154 18.3416 23.1797 17.5165 26.4243 15.9293V24.0257ZM13.1612 13.6046C13.1612 13.3534 13.261 13.1124 13.4387 12.9348C13.6163 12.7571 13.8573 12.6573 14.1086 12.6573H17.898C18.1493 12.6573 18.3903 12.7571 18.5679 12.9348C18.7456 13.1124 18.8454 13.3534 18.8454 13.6046C18.8454 13.8559 18.7456 14.0969 18.5679 14.2745C18.3903 14.4522 18.1493 14.552 17.898 14.552H14.1086C13.8573 14.552 13.6163 14.4522 13.4387 14.2745C13.261 14.0969 13.1612 13.8559 13.1612 13.6046Z" fill="#FC802A"/>
                        </svg>
                    span.text Certificado de afiliación
                    span.prv__certificados--item-arrow
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2331 12.1457L13.5866 12.4992L13.2331 12.8528L9.35308 16.7328C9.15835 16.9275 9.15835 17.241 9.35308 17.4357C9.55108 17.6337 9.87448 17.6272 10.056 17.4457L14.646 12.8557C14.8407 12.661 14.8407 12.3475 14.646 12.1528L10.056 7.5628C9.86124 7.36806 9.54782 7.36806 9.35309 7.5628C9.15835 7.75754 9.15835 8.07095 9.35309 8.26569L13.2331 12.1457Z" fill="black" stroke="#1F1F1F"/>
                        </svg>
            li.prv__certificados--item
                a(href="#").prv__certificados--item--link
                    span.prv__certificados--item--icon
                        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.4243 6.97307H21.6875V6.0257C21.6875 5.27193 21.3881 4.54903 20.8551 4.01603C20.3221 3.48303 19.5992 3.18359 18.8454 3.18359H13.1612C12.4074 3.18359 11.6845 3.48303 11.1515 4.01603C10.6185 4.54903 10.3191 5.27193 10.3191 6.0257V6.97307H5.58224C5.07972 6.97307 4.59779 7.17269 4.24246 7.52802C3.88712 7.88335 3.6875 8.36529 3.6875 8.8678V24.0257C3.6875 24.5282 3.88712 25.0101 4.24246 25.3655C4.59779 25.7208 5.07972 25.9204 5.58224 25.9204H26.4243C26.9269 25.9204 27.4088 25.7208 27.7641 25.3655C28.1195 25.0101 28.3191 24.5282 28.3191 24.0257V8.8678C28.3191 8.36529 28.1195 7.88335 27.7641 7.52802C27.4088 7.17269 26.9269 6.97307 26.4243 6.97307ZM12.2138 6.0257C12.2138 5.77444 12.3136 5.53347 12.4913 5.35581C12.669 5.17814 12.9099 5.07833 13.1612 5.07833H18.8454C19.0967 5.07833 19.3376 5.17814 19.5153 5.35581C19.693 5.53347 19.7928 5.77444 19.7928 6.0257V6.97307H12.2138V6.0257ZM26.4243 8.8678V13.7953C23.2267 15.5358 19.6439 16.4474 16.0033 16.4468C12.3628 16.4474 8.78011 15.5363 5.58224 13.7965V8.8678H26.4243ZM26.4243 24.0257H5.58224V15.9304C8.82689 17.5175 12.3913 18.3422 16.0033 18.3415C19.6154 18.3416 23.1797 17.5165 26.4243 15.9293V24.0257ZM13.1612 13.6046C13.1612 13.3534 13.261 13.1124 13.4387 12.9348C13.6163 12.7571 13.8573 12.6573 14.1086 12.6573H17.898C18.1493 12.6573 18.3903 12.7571 18.5679 12.9348C18.7456 13.1124 18.8454 13.3534 18.8454 13.6046C18.8454 13.8559 18.7456 14.0969 18.5679 14.2745C18.3903 14.4522 18.1493 14.552 17.898 14.552H14.1086C13.8573 14.552 13.6163 14.4522 13.4387 14.2745C13.261 14.0969 13.1612 13.8559 13.1612 13.6046Z" fill="#FC802A"/>
                        </svg>
                    span.text Certificado de afiliación
                    span.prv__certificados--item-arrow
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2331 12.1457L13.5866 12.4992L13.2331 12.8528L9.35308 16.7328C9.15835 16.9275 9.15835 17.241 9.35308 17.4357C9.55108 17.6337 9.87448 17.6272 10.056 17.4457L14.646 12.8557C14.8407 12.661 14.8407 12.3475 14.646 12.1528L10.056 7.5628C9.86124 7.36806 9.54782 7.36806 9.35309 7.5628C9.15835 7.75754 9.15835 8.07095 9.35309 8.26569L13.2331 12.1457Z" fill="black" stroke="#1F1F1F"/>
                        </svg>
            li.prv__certificados--item
                a(href="#").prv__certificados--item--link
                    span.prv__certificados--item--icon
                        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.4243 6.97307H21.6875V6.0257C21.6875 5.27193 21.3881 4.54903 20.8551 4.01603C20.3221 3.48303 19.5992 3.18359 18.8454 3.18359H13.1612C12.4074 3.18359 11.6845 3.48303 11.1515 4.01603C10.6185 4.54903 10.3191 5.27193 10.3191 6.0257V6.97307H5.58224C5.07972 6.97307 4.59779 7.17269 4.24246 7.52802C3.88712 7.88335 3.6875 8.36529 3.6875 8.8678V24.0257C3.6875 24.5282 3.88712 25.0101 4.24246 25.3655C4.59779 25.7208 5.07972 25.9204 5.58224 25.9204H26.4243C26.9269 25.9204 27.4088 25.7208 27.7641 25.3655C28.1195 25.0101 28.3191 24.5282 28.3191 24.0257V8.8678C28.3191 8.36529 28.1195 7.88335 27.7641 7.52802C27.4088 7.17269 26.9269 6.97307 26.4243 6.97307ZM12.2138 6.0257C12.2138 5.77444 12.3136 5.53347 12.4913 5.35581C12.669 5.17814 12.9099 5.07833 13.1612 5.07833H18.8454C19.0967 5.07833 19.3376 5.17814 19.5153 5.35581C19.693 5.53347 19.7928 5.77444 19.7928 6.0257V6.97307H12.2138V6.0257ZM26.4243 8.8678V13.7953C23.2267 15.5358 19.6439 16.4474 16.0033 16.4468C12.3628 16.4474 8.78011 15.5363 5.58224 13.7965V8.8678H26.4243ZM26.4243 24.0257H5.58224V15.9304C8.82689 17.5175 12.3913 18.3422 16.0033 18.3415C19.6154 18.3416 23.1797 17.5165 26.4243 15.9293V24.0257ZM13.1612 13.6046C13.1612 13.3534 13.261 13.1124 13.4387 12.9348C13.6163 12.7571 13.8573 12.6573 14.1086 12.6573H17.898C18.1493 12.6573 18.3903 12.7571 18.5679 12.9348C18.7456 13.1124 18.8454 13.3534 18.8454 13.6046C18.8454 13.8559 18.7456 14.0969 18.5679 14.2745C18.3903 14.4522 18.1493 14.552 17.898 14.552H14.1086C13.8573 14.552 13.6163 14.4522 13.4387 14.2745C13.261 14.0969 13.1612 13.8559 13.1612 13.6046Z" fill="#FC802A"/>
                        </svg>
                    span.text Certificado de afiliación
                    span.prv__certificados--item-arrow
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2331 12.1457L13.5866 12.4992L13.2331 12.8528L9.35308 16.7328C9.15835 16.9275 9.15835 17.241 9.35308 17.4357C9.55108 17.6337 9.87448 17.6272 10.056 17.4457L14.646 12.8557C14.8407 12.661 14.8407 12.3475 14.646 12.1528L10.056 7.5628C9.86124 7.36806 9.54782 7.36806 9.35309 7.5628C9.15835 7.75754 9.15835 8.07095 9.35309 8.26569L13.2331 12.1457Z" fill="black" stroke="#1F1F1F"/>
                        </svg>

        .prv__certificados--vermas--content
            a(href="#").prv-btn.prv__certificados--vermas  Ver más


.container 
    .prv-card.prv-style-3    
        picture.prv-card__img-top
            source(media="(min-width: 768px)" srcset="images/cards/card-image-desktop.jpg")
            img(src="images/cards/card-image-mobile.jpg" alt="title" width="380" height="186")
        .prv-card__body
            h2.card__title.prv-txt-green-700 Titulo prueba 1
            .card__description
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rem vero quibusdam fugiat consectetur excepturi at libero voluptas! Debitis quidem veritatis qui error perspiciatis cupiditate, blanditiis aut voluptate recusandae iste.