.prv-tab-frg-section.prv-style-2.prv-bg-white
    .container 
        .prv-title-content
            h2.prv-title.prv-txt-green-700 Title
            p.prv-subtitle Lorem ipsum

        .prv-tabs.prv-style-2.tab__carousel-container#fragment-2-aywy
            .prv-tab-collapse.prv-tab-horizontal
                ul.prv-nav-tab(role="tablist") 
                    li.tab__item(role="presentation")
                        button.tab__link.active(type="button", aria-controls="tueTabPanel1", aria-selected="true", data-fragment-namespace="aywy", id="tab1", role="tab") 
                            span Prepago
                    li.tab__item(role="presentation")
                        button.tab__link(type="button", aria-controls="tueTabPanel2", aria-selected="false", data-fragment-namespace="aywy", id="tab2", role="tab") 
                            span Postpago
            .prv-tab-content
                .prv-tab-pane(aria-labelledby="tab1", data-fragment-namespace="aywy", id="tueTabPanel1", role="tabpanel", tabindex="0")
                    .prv-cards-tpl.prv-style-1.prv-bg-transparent 
                        .container-full
                              h2.prv-title.prv-txt-green-700 Title
                              p.prv-subtitle Pensión obligatoria eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              ul 
                                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dicta recusandae aperiam nam molestiae assumenda blanditiis harum cupiditate accusantium saepe id nostrum provident placeat non iusto, est quaerat labore. Placeat!
                                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dicta recusandae aperiam nam molestiae assumenda blanditiis harum cupiditate accusantium saepe id nostrum provident placeat non iusto, est quaerat labore. Placeat!
                                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dicta recusandae aperiam nam molestiae assumenda blanditiis harum cupiditate accusantium saepe id nostrum provident placeat non iusto, est quaerat labore. Placeat!
                                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dicta recusandae aperiam nam molestiae assumenda blanditiis harum cupiditate accusantium saepe id nostrum provident placeat non iusto, est quaerat labore. Placeat!
                .prv-tab-pane.prv-tab-pane--none(aria-labelledby="tab2", data-fragment-namespace="aywy", id="tueTabPanel2", role="tabpanel", tabindex="0")
                    .prv-cards-tpl.prv-style-1.prv-bg-transparent 
                        .container-full
                            h2.prv-title.prv-txt-green-700 Esto también te podría interesar
                            p.prv-subtitle Pensión obligatoria eiusmod tempor incididunt ut labore et dolore magna aliqua.Pensión obligatoria eiusmod tempor incididunt ut labore et dolore magna aliqua.Pensión obligatoria eiusmod tempor incididunt ut labore et dolore magna aliqua.Pensión obligatoria eiusmod tempor incididunt ut labore et dolore magna aliqua.Pensión obligatoria eiusmod. aliqua.Pensión obligatoria eiusmod.