.prv-tab-frg-section.prv-bg-white
    .container 
        .prv-title-content
            h2.prv-title.prv-txt-green-700 Tabs 6
            p.prv-subtitle Lorem ipsum

        .prv-tabs.prv-style-1.tab__carousel-container#fragment-2-aywy
            .prv-tab-collapse.prv-tab-horizontal
                ul.prv-nav-tab(role="tablist") 
                    li.tab__item(role="presentation")
                        button.tab__link.active(type="button", aria-controls="tueTabPanel1", aria-selected="true", data-fragment-namespace="aywy", id="tab1", role="tab") 
                            span Porvenir
                    li.tab__item(role="presentation")
                        button.tab__link(type="button", aria-controls="tueTabPanel2", aria-selected="false", data-fragment-namespace="aywy", id="tab2", role="tab") 
                            span Fondo Público
                    
            .prv-tab-content
                .prv-tab-pane(aria-labelledby="tab1", data-fragment-namespace="aywy", id="tueTabPanel1", role="tabpanel", tabindex="0")
                    .prv-cards-tpl.prv-style-1.prv-bg-transparent 
                        .container-full
                            .prv-style-3__body
                                ul.prv-style-3__body--list
                                    li.prv-style-3__body--item
                                        .prv-style-3__body--card.prv-style-3__body--card--left 
                                            p.text Semanas de cotización
                                        .prv-style-3__body--card.prv-style-3__body--card--right 
                                            p.text
                                                span 1.150 
                                                br
                                                b (23 años)

                                    li.prv-style-3__body--item
                                        .prv-style-3__body--card.prv-style-3__body--card--left 
                                            p.text ¿El ahorro pensional es heredable?
                                        .prv-style-3__body--card.prv-style-3__body--card--right 
                                            p.text Sí. El ahorro pensional lo pueden heredar tus familiares.
                                    
                                    li.prv-style-3__body--item
                                        .prv-style-3__body--card.prv-style-3__body--card--left 
                                            p.text ¿Me devuelven mi dinero con rendimientos si no me pensiono?
                                        .prv-style-3__body--card.prv-style-3__body--card--right 
                                            p.text Sí. Si no te pensionas te devolvemos tu dinero con rendimientos.
                                    
                                    li.prv-style-3__body--item
                                        .prv-style-3__body--card.prv-style-3__body--card--left 
                                            p.text ¿La pensión es vitalicia?
                                        .prv-style-3__body--card.prv-style-3__body--card--right 
                                            p.text Sí. Tu pensión es para toda la vida.

                                    li.prv-style-3__body--item
                                        .prv-style-3__body--card.prv-style-3__body--card--left 
                                            p.text ¿Puedo perder mi dinero?
                                        .prv-style-3__body--card.prv-style-3__body--card--right 
                                            p.text En Porvenir no perderás tu dinero.
                                    
                .prv-tab-pane.prv-tab-pane--none(aria-labelledby="tab2", data-fragment-namespace="aywy", id="tueTabPanel2", role="tabpanel", tabindex="0")
                    .prv-cards-tpl.prv-style-1.prv-bg-transparent 
                        .container-full
                            .prv-style-3__body
                                ul.prv-style-3__body--list
                                    li.prv-style-3__body--item
                                        .prv-style-3__body--card.prv-style-3__body--card--left 
                                            p.text Item
                                        .prv-style-3__body--card.prv-style-3__body--card--right 
                                            p.text Item
                                        
                                    li.prv-style-3__body--item
                                        .prv-style-3__body--card.prv-style-3__body--card--left 
                                            p.text Item
                                        .prv-style-3__body--card.prv-style-3__body--card--right 
                                            p.text Item
