.prv-tab-frg-section.prv-bg-white
    .container 
        .prv-title-content
            h2.prv-title.prv-txt-green-700 Tabs 6
            p.prv-subtitle Lorem ipsum

        .prv-tabs.prv-style-1.prv-tab-table.tab__carousel-container#fragment-2-aywy
            .prv-tab-collapse.prv-tab-horizontal
                ul.prv-nav-tab(role="tablist") 
                    li.tab__item(role="presentation")
                        button.tab__link.active(type="button", aria-controls="tueTabPanel1", aria-selected="true", data-fragment-namespace="aywy", id="tab1", role="tab") 
                            span Porvenir
                    li.tab__item(role="presentation")
                        button.tab__link(type="button", aria-controls="tueTabPanel2", aria-selected="false", data-fragment-namespace="aywy", id="tab2", role="tab") 
                            span Fondo Público
                    
            .prv-tab-content
                .prv-tab-pane(aria-labelledby="tab1", data-fragment-namespace="aywy", id="tueTabPanel1", role="tabpanel", tabindex="0")
                    .tab-table
                        ul.tab-table--list
                            li.tab-table--item
                                .tab-table--card.tab-table-col-2.tab-table--card--left
                                    p.text Semanas de cotización
                                .tab-table--card.tab-table-col-2.tab-table--card--right
                                    p.text
                                        span 1.150 
                                        br
                                        b (23 años)
                            li.tab-table--item
                                .tab-table--card.tab-table-col-3.tab-table--card--left
                                    p.text ¿El ahorro pensional es heredable?
                                .tab-table--card.tab-table-col-3.tab-table--card--right
                                    p.text Sí. El ahorro pensional lo pueden heredar tus familiares.
                                .tab-table--card.tab-table-col-3.tab-table--card--right
                                    p.text Item
                            
                            li.tab-table--item
                                .tab-table--card.tab-table-col-3.tab-table--card--left
                                    p.text ¿Me devuelven mi dinero con rendimientos si no me pensiono?
                                .tab-table--card.tab-table-col-3.tab-table--card--right
                                    p.text Sí. Si no te pensionas te devolvemos tu dinero con rendimientos.
                                .tab-table--card.tab-table-col-3.tab-table--card--right
                                    p.text Item
                            
                            li.tab-table--item
                                .tab-table--card.tab-table-col-3.tab-table--card--left
                                    p.text ¿La pensión es vitalicia?
                                .tab-table--card.tab-table-col-3.tab-table--card--right 
                                    p.text Sí. Tu pensión es para toda la vida.
                                .tab-table--card.tab-table-col-3.tab-table--card--right
                                    p.text Item

                            li.tab-table--item
                                .tab-table--card.tab-table-col-3.tab-table--card--left
                                    p.text ¿Puedo perder mi dinero?
                                .tab-table--card.tab-table-col-3.tab-table--card--right 
                                    p.text En Porvenir no perderás tu dinero.
                                .tab-table--card.tab-table-col-3.tab-table--card--right
                                    p.text Item
                                    
                .prv-tab-pane.prv-tab-pane--none(aria-labelledby="tab2", data-fragment-namespace="aywy", id="tueTabPanel2", role="tabpanel", tabindex="0")
                    .tab-table
                        ul.tab-table--list
                            li.tab-table--item
                                .tab-table--card.tab-table-col-2.tab-table--card--left
                                    p.text Semanas de cotización
                                .tab-table--card.tab-table-col-2.tab-table--card--right
                                    p.text
                                        span 1.150 
                                        br
                                        b (23 años)
                            li.tab-table--item
                                .tab-table--card.tab-table-col-2.tab-table--card--left
                                    p.text Semanas de cotización
                                .tab-table--card.tab-table-col-2.tab-table--card--right
                                    p.text
                                        span 1.150 
                                        br
                                        b (23 años)
