
section.pvr__banner
    .pvr__banner--content
        .pvr__banner--left
            h1.title Ahorra para tus sueños, construye tu futuro.
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a(href="#").btn__primary.pvr__banner--btn Afiliate a Porvenir
            
        .pvr__banner--right 
            picture.pvr__banner--image
                source(media="(min-width: 1024px)" srcset="images/Banner-Family-desktop.png")
                img(src="images/Banner-Family-mobile.png", alt="").picture

section.pvr__caracteristicas
    .pvr__caracteristicas--content 
        ul.pvr__caracteristicas--list
            li.pvr__caracteristicas--item
                .pvr__caracteristicas--item--content
                    .pvr__caracteristicas--item--image
                        img(src="images/Icono-Pension-Obligatorias.png", alt="")
                    h2.title Pensiones Obligatorias
                    p.text La pensión obligatoria es el derecho que construyes mediante los aportes que realizas para pensión.
                    ul.btn__list
                        li
                            a(href="#" target="_blank").btn__item
                                span.btn__item--info
                                    span.btn__item--number 01
                                    span.btn__item--text Asesoría pensional
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 02
                                    span.btn__item--text Certificado de afiliación
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 03
                                    span.btn__item--text Requisitos para pensionarse
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 04
                                    span.btn__item--text Extracto o saldo
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
            li.pvr__caracteristicas--item
                .pvr__caracteristicas--item--content
                    .pvr__caracteristicas--item--image
                        img(src="images/Icono-Cesantias.png", alt="")
                    h2.title Pensiones Obligatorias
                    p.text La pensión obligatoria es el derecho que construyes mediante los aportes que realizas para pensión.
                    ul.btn__list
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 01
                                    span.btn__item--text Asesoría pensional
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 02
                                    span.btn__item--text Certificado de afiliación
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 03
                                    span.btn__item--text Requisitos para pensionarse
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 04
                                    span.btn__item--text Extracto o saldo
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
            li.pvr__caracteristicas--item
                .pvr__caracteristicas--item--content
                    .pvr__caracteristicas--item--image
                        img(src="images/Icono-Pension-Voluntarias.png", alt="")
                    h2.title Pensiones Obligatorias
                    p.text La pensión obligatoria es el derecho que construyes mediante los aportes que realizas para pensión.
                    ul.btn__list
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 01
                                    span.btn__item--text Asesoría pensional
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 02
                                    span.btn__item--text Certificado de afiliación
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 03
                                    span.btn__item--text Requisitos para pensionarse
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 04
                                    span.btn__item--text Extracto o saldo
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>

section.pvr__historias
    .pvr__historias--content
        h2.pvr__historias--title ¿Qué esperas para vivir tu Porvenir? 
        ul.pvr__historias--list
            li.pvr__historias--item
                .pvr__historias--item--content
                    .pvr__historias--item--image
                        img(src="images/Historias-Person.png", alt="")
                    h3.title Gilberto hace parte de los 2.099 pensionados en Porvenir del mes de septiembre.  
                    p.text “Pensionarme con Porvenir fue sencillo y me acompañaron en cada paso. Ahora disfruto de mis nietos con la tranquilidad de que mi futuro está asegurado".
            li.pvr__historias--item
                .pvr__historias--item--content
                    .pvr__historias--item--image
                        img(src="images/Historias-Person.png", alt="")
                    h3.title Con sus cesantías, Carolina cumplió uno de sus sueños en septiembre.  
                    p.text “Con mis cesantías de Porvenir logré pagar la primera cuota del apartamento que siempre quise. Porvenir, además, me acompañó en cada momento”.
            li.pvr__historias--item
                .pvr__historias--item--content
                    .pvr__historias--item--image
                        img(src="images/Historias-Person.png", alt="")
                    h3.title Camilo es una de los 8000 personas que ya disfrutan de la pensión voluntaria. 
                    p.text “Estuve buscando muchas opciones para invertir, y la pensión voluntaria de Porvenir fue la que más me impresionó”.

section.pvr__preguntas
    .pvr__preguntas--content
        h2.pvr__preguntas--title Preguntas frecuentes
        .pvr__preguntas--right
            .pvr__preguntas--list.c-accordion(data-multiselect="false")
                h4.pvr__preguntas--item--header.c-accordion__tab
                    button.title ¿Hijos pueden heredar pensión de padres?
                .pvr__preguntas--item--body.c-accordion__panel
                    .info.c-accordion__panel__content
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia assumenda neque harum enim, odio, aliquid eveniet rem et pariatur magnam perspiciatis quod corrupti quo. Quasi quos tenetur similique voluptatibus.
                h4.pvr__preguntas--item--header.c-accordion__tab
                    button.title ¿Hijos pueden heredar pensión de padres?
                .pvr__preguntas--item--body.c-accordion__panel
                    .info.c-accordion__panel__content
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia assumenda neque harum enim, odio, aliquid eveniet rem et pariatur magnam perspiciatis quod corrupti quo. Quasi quos tenetur similique voluptatibus.
                h4.pvr__preguntas--item--header.c-accordion__tab
                    button.title ¿Hijos pueden heredar pensión de padres?
                .pvr__preguntas--item--body.c-accordion__panel
                    .info.c-accordion__panel__content
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia assumenda neque harum enim, odio, aliquid eveniet rem et pariatur magnam perspiciatis quod corrupti quo. Quasi quos tenetur similique voluptatibus.                            