.newFontSize{
    &__100 {
        .pvr{
            &__search-result{
                .search__total-label{
                    font-size: 18px;
                }
                .search__list{                    
                    .list__group-item{                        
                        .content{
                            .title{
                                font-size: 20px;
                                @media (min-width:992px){
                                    font-size: 24px;
                                }
                            }
                            .text-box{
                                .text{
                                    font-size: 16px;
                                    @media (min-width:992px) {
                                        font-size: 18px;
                                    }
                                }
                            }
                        }          
                        .footer{
                            .link{
                                font-size: 14px;
                            }
                        }    
                    }
                }
            }
        }        
        .pagination-bar{
            .pagination{
                font-size: 0.875rem;
            } 
            .dropdown-menu {
                font-size: 0.875rem;
            }
        }
    }
    &__110 {
        .pvr{
            &__search-result{
                .search__total-label{
                    font-size: 19px;
                }
                .search__list{                    
                    .list__group-item{                        
                        .content{
                            .title{
                                font-size: 21px;
                                @media (min-width:992px){
                                    font-size: 25px;
                                }
                            }
                            .text-box{
                                .text{
                                    font-size: 17px;
                                    @media (min-width:992px) {
                                        font-size: 19px;
                                    }
                                }
                            }
                        }          
                        .footer{
                            .link{
                                font-size: 15px;
                            }
                        }    
                    }
                }
            }
        }        
        .pagination-bar{
            .pagination{
                font-size: 0.890rem;
            } 
            .dropdown-menu {
                font-size: 0.890rem;
            }
        }
    }
    &__120 {
        .pvr{
            &__search-result{
                .search__total-label{
                    font-size: 20px;
                }
                .search__list{                    
                    .list__group-item{                        
                        .content{
                            .title{
                                font-size: 22px;
                                @media (min-width:992px){
                                    font-size: 26px;
                                }
                            }
                            .text-box{
                                .text{
                                    font-size: 18px;
                                    @media (min-width:992px) {
                                        font-size: 20px;
                                    }
                                }
                            }
                        }          
                        .footer{
                            .link{
                                font-size: 16px;
                            }
                        }    
                    }
                }
            }
        }        
        .pagination-bar{
            .pagination{
                font-size: 0.9rem;
            } 
            .dropdown-menu {
                font-size: 0.9rem;
            }
        }
    }
    &__130 {
        .pvr{
            &__search-result{
                .search__total-label{
                    font-size: 21px;
                }
                .search__list{                    
                    .list__group-item{                        
                        .content{
                            .title{
                                font-size: 23px;
                                @media (min-width:992px){
                                    font-size: 27px;
                                }
                            }
                            .text-box{
                                .text{
                                    font-size: 19px;
                                    @media (min-width:992px) {
                                        font-size: 21px;
                                    }
                                }
                            }
                        }          
                        .footer{
                            .link{
                                font-size: 17px;
                            }
                        }    
                    }
                }
            }
        }        
        .pagination-bar{
            .pagination{
                font-size: 0.975rem;
            } 
            .dropdown-menu {
                font-size: 0.975rem;
            }
        }
    }
    &__140 {
        .pvr{
            &__search-result{
                .search__total-label{
                    font-size: 22px;
                }
                .search__list{                    
                    .list__group-item{                        
                        .content{
                            .title{
                                font-size: 24px;
                                @media (min-width:992px){
                                    font-size: 28px;
                                }
                            }
                            .text-box{
                                .text{
                                    font-size: 20px;
                                    @media (min-width:992px) {
                                        font-size: 22px;
                                    }
                                }
                            }
                        }          
                        .footer{
                            .link{
                                font-size: 18px;
                            }
                        }    
                    }
                }
            }
        }        
        .pagination-bar{
            .pagination{
                font-size: 0.990rem;
            } 
            .dropdown-menu {
                font-size: 0.990rem;
            }
        }
    }
}

.altoContrasGeneral{  
    .pvr{
        &__search-result{
            border-bottom: 1px solid var(--color-green-accesibility-100);
            .search__total-label{
                color: var(--color-green-accesibility-300);
            }
            .search__list{
                .list__group-item{                    
                    .content{
                        .title{
                            .link{
                                color: var(--color-green-accesibility);
                            }
                        }
                        .text-box{
                            .text{
                                color: var(--color-green-accesibility-300);
                            }
                        }
                    }          
                    .footer{
                        .link{
                            color: var(--color-green-accesibility);                            
                        }
                    }    
                }
            }
        }
    }
    
    .pagination-bar{        
        .page-link{
            color: var(--color-green-accesibility);
            .lfr-portal-tooltip{
                color: var(--color-green-accesibility);
            }
        }
        .page-item.active .page-link, .nav-underline .tab.active a.page-item .page-link{
            background-color: var(--color-green-accesibility-300);
        }
    
        .page-item.disabled .page-link{
            color: var(--color-green-accesibility);
        }
        
        .page-link:hover, .page-link.hover{
            background-color: var(--color-green-accesibility-300);
        }
        .page-link[aria-expanded='true'], .page-link.show{
            background-color: var(--color-green-accesibility-300);
        }
        .dropdown-menu{
            border: 1px solid var(--color-green-accesibility-50);
        }
        .dropdown-menu {
            border-color: var(--color-green-accesibility-50);
            color: var(--color-green-accesibility);
        }
        .dropdown-item, .dropdown-menu > li > a, .dropdown-menu .link-list > li > a{
            color: var(--color-green-accesibility);
        }
    }
}

.pvr{
    &__search-result{
        position: relative;
        padding: 10px 0 0;
        border-bottom: 1px solid var(--color-gray-60);
        .container{
            @media (min-width:992px) {
                max-width: 804px;
            }
        }
        .search__total-label{
            font-size: 18px;
            line-height: 24px;
            color: var(--color-gray-300);
            padding: 16px 0 8px;
        }
        .search__list{
            .list__group{
                padding: 0;
                margin: 0;
            }
            .list__group-item{
                list-style: none;
                margin-bottom: 8px;
                .section{
                    list-style: none;
                    display: flex;
                    align-items: center;
                }
                .content{
                    width: 100%;
                    .title{
                        font-size: 20px;
                        line-height: 25px;
                        @media (min-width:992px){
                            font-size: 24px;
                            line-height: 29.28px;
                        }
                        .link{
                            color: var(--color-green-700);
                        }
                        margin-bottom: 8px;
                    }
                    .text-box{
                        .text{
                            font-size: 16px;
                            line-height: 22px;
                            color: var(--color-gray-500);
                            margin-bottom: 0;
                            @media (min-width:992px) {
                                font-size: 18px;
                                line-height: 24px;
                            }
                        }
                    }
                }   
                .thumbnail{
                    width: 100%;
                    max-width: 80px;
                    margin-left: 16px;
                    border-radius: 8px;
                    text-align: center;
                    @media (min-width:992px){
                        max-width: 101px;
                    }
                }         
                .footer{
                    width: 100%;
                    .link{
                        padding: 12px 0;
                        font-size: 14px;
                        line-height: 20px;
                        color: var(--color-green-400);
                        display: flex;
                        align-items: center;
                        @media (min-width:992px) {
                            font-size: 16px;
                            line-height: 24px;
                        }
                        .icon{
                            margin-right: 8px;
                        }
                    }
                }    
            }
        }
    }
}

.pagination-bar{
    justify-content: center;
    .pagination-items-per-page{
        display: none;
    }
    .pagination-results{
        display: none;
    }
    .pagination{
        width: 100%;
        justify-content: center;
        margin: 3px 0;
        border-radius: 0.25rem;
        display: flex;
        flex-wrap: wrap;
        font-size: 0.875rem;
        list-style: none;
        padding-left: 0;
    }
    .page-item {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
    
    .page-link{
        width: 44px;
        height: 44px;
        color: var(--color-gray-500);
        border-radius: 100px;
        align-items: center;
        display: inline-flex;
        justify-content: center;
        line-height: 1;
        margin-left: 0;
        padding-bottom: 0;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        padding-top: 0;
        position: relative;
        transition: box-shadow 0.15s ease-in-out;
        .lfr-portal-tooltip{
            color: var(--color-gray-600);
        }
    }
    .sr-only {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    .lexicon-icon {
        display: inline-block;
        fill: currentColor;
        height: 1em;
        margin-top: -3px;
        vertical-align: middle;
        width: 1em;
    }
    .page-item.active .page-link, .nav-underline .tab.active a.page-item .page-link{
        background-color: var(--color-orange-300);
        border-color: transparent;
        color: #fff;
        cursor: default;
        z-index: 3;
    }

    .page-item.disabled .page-link{
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        color: #6b6c7e;
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: auto;
        z-index: 0;
    }
    
    .page-link:hover, .page-link.hover{
        background-color: var(--color-orange-300);
        color: var(--color-white);
    }
    .page-item:last-child .page-link:hover, .page-link-last:hover,
    .page-item:first-child .page-link:hover, .page-link-first:hover{
        background-color: transparent;
    }
    .page-link[aria-expanded='true'], .page-link.show{
        background-color: var(--color-orange-300);
        color: var(--color-white);
    }
    .dropdown {
        position: relative;
    }
    .dropdown > .dropdown-menu{
        position: absolute;
    }
    .page-item .dropdown-menu, .pagination-items-per-page .dropdown-menu{
        margin-bottom: 0.625rem;
        margin-top: 0.625rem;
    }
    .dropdown-menu.show{
        display: block;
    }
    .dropdown-menu{
        border: 1px solid #e7e7ed;
    }
    .dropdown-menu-top-center {
        bottom: 100% !important;
        left: 50% !important;
        margin-top: 0;
        margin-bottom: 0.3125rem;
        right: auto !important;
        top: auto !important;
        transform: translateX(-50%) !important;
        will-change: auto !important;
    }
    .dropdown-menu {
        background-clip: padding-box;
        background-color: #fff;
        border-color: #e7e7ed;
        border-radius: 0.25rem;
        border-style: solid;
        border-width: 0px;
        box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3);
        color: #272833;
        display: none;
        float: left;
        font-size: 0.875rem;
        left: 0;
        list-style: none;
        margin: 0.3125rem 0 0;
        max-height: 500px;
        max-width: 240px;
        min-height: 40px;
        min-width: 240px;
        overflow: auto;
        padding: 0.375rem 0;
        position: absolute;
        text-align: left;
        top: 100%;
        z-index: 1000;
    }
    .dropdown-menu .inline-scroller{
        max-height: 200px;
    }
    .inline-scroller {
        -webkit-overflow-scrolling: touch;
        list-style: none;
        margin: 0;
        max-height: 125px;
        overflow: auto;
        padding: 0;
    }
    .dropdown-item, .dropdown-menu > li > a, .dropdown-menu .link-list > li > a{
        background-color: transparent;
        border-radius: 0px;
        border-width: 0px;
        clear: both;
        color: #6b6c7e;
        cursor: pointer;
        display: block;
        font-weight: 400;
        overflow: hidden;
        padding-bottom: 0.34375rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.34375rem;
        position: relative;
        text-align: inherit;
        transition: none;
        width: 100%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        font-size: inherit;
    }
}

.portlet-layout .portlet-header{
    margin: 0;
}